<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>toy</title>

<!-- CSS -->
<th:block th:replace="style :: style" />
<th:block th:replace="style :: chat" />
<th:block th:replace="style :: javascript" />

</head>

<body>
	
	<script type="text/javascript">
		var ws;
		
		function wsOpen() {
			ws = new WebSocket("ws://" + location.host + "/chatting");
			wsEvt();
		}
		
		function wsEvt() {
			ws.onopen = function(data) {
				// 소켓이 열리면 초기화 세팅
			}
			
			ws.onmessage = function(data) {
				var msg = data.data;
				if(msg != null && msg.trim() != "") {
					$("#chat").append("<p>" + msg + "</p>");
				}
			}
			
			document.addEventListener("keypress", function(e) {
				if(e.keyCode == 13) {
					send();
				}
			});
		}
		
		function chatName() {
			var userName = $("#userName").val();
			if(userName == null || userName.trim() == "") {
				alert("사용자 이름을 입력해주세요.");
				$("#userName").focus();
			} else {
				wsOpen();
				$("#yourName").hide();
				$("#yourMsg").show();
			}
		}
		
		function send() {
			var uN = $("#userName").val();
			var msg = $("#chatting").val();
			ws.send(uN + " : " + msg);
			$("#chatting").val("");
		}
	</script>
	<div class="form-join">
		<div class="form-join-left">
			<div id="container" class="container">
				<h3>채팅</h3>
				<div id="chat" class="chat">
				</div>
				
				<div id="yourName">
					<table class="inputTable">
						<tr>
							<th>사용자명</th>
							<th><input type="text" name="userName" id="userName"></th>
							<th><button onclick="chatName()" id="startBtn">이름 등록</button></th>
						</tr>
					</table>
				</div>
				<div id="yourMsg">
					<table class="inputTable">
						<tr>
							<th>메시지</th>
							<th><input id="chatting" placeholder="보내실 메시지를 입력하세요."></th>
							<th><button onclick="send()" id="sendBtn">보내기</button></th>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="form-join-right">
			1
		</div>
	</div>
	
	
	
</body>

</html>