<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>toy</title>

<th:block th:replace="style :: style" />
<th:block th:replace="style :: css-chat" />

</head>

<body>

	<div class="form-join">
		<div class="form-join-left">
			<div id="container" class="container">
				<h1>채팅</h1>
				<input type="hidden" id="sessionId" value="">
				
				<div id="chat" class="chat">
				</div>
				
				<div id="yourName">
					<table class="inputTable">
						<tr>
							<th>사용자명</th>
							<th><input type="text" name="userName" id="userName"></th>
							<th><button onclick="chatName()" id="startBtn">이름 등록</button></th>
						</tr>
					</table>
				</div>
				<div id="yourMsg">
					<table class="inputTable">
						<tr>
							<th>메시지</th>
							<th><input id="chatting" placeholder="보내실 메시지를 입력하세요."></th>
							<th><button onclick="send()" id="sendBtn">보내기</button></th>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="form-join-right">
			1
		</div>
	</div>
	
	<th:block th:replace="style :: javascript" />
	<th:block th:replace="style :: js-chat" />
	
</body>

</html>