<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ - 채팅방</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
</th:block>

</head>

<body>
	
	<!-- CONTENT -->
	<main layout:fragment="content" class="container">
		<!-- MENU : Chat -->
   		<div id="menuChat" class="menuChat">
	   		<!-- Chat Room Create -->
			<div id="chatSecond">
			        <input type="text" id="roomName" name="name" class="form-control">
			        <button class="btn btn-secondary active" id="createChatRoom">개설하기</button>
		    </div>
		    
		    <!-- Chat Room List -->
			<div id="chatThird">
            	<span th:if="${roomList == null}">채팅방이 없어요 !</span>
	            <ul th:unless="${roomList == null}" th:each="roomList : ${roomList}">
	                <li><a th:href="@{/chat/room(roomId=${roomList.roomId})}">[[${roomList.name}]]</a></li>
	            </ul>
		    </div>
	    </div>
	</main>
	
	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script type="text/javascript" src="/js/lib/fontawesome.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app/header.js"></script>
		<!-- SWEETALERT2 -->
		<script type="text/javascript" src="/js/lib/sweetalert2.js"></script>
		<!-- POPUP -->
		<script type="text/javascript" src="/js/lib/sockjs.min.js"></script>
		<script type="text/javascript" src="/js/lib/stomp.min.js"></script>
		<!-- <script type="text/javascript" src="/js/app/popup.js"></script> -->
		<script th:inline="javascript">
			
		</script>
	</th:block>
	
</body>

</html>