<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ - 채팅방 [[${room.name}]]</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- ROOM -->
	<link rel="stylesheet" th:href="@{/css/app/room.css}" />
</th:block>

</head>

<body>

	<main layout:fragment="content" class="container">
        <div class="col-6">
            <span>[[${room.name}]]</span>
        </div>
        <div>
            <div id="msgArea" class="col chat-msgArea"></div>
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        <div class="col-6"></div>
    </main>


	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script type="text/javascript" src="/js/lib/fontawesome.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app/header.js"></script>
		<!-- SWEETALERT2 -->
		<script type="text/javascript" src="/js/lib/sweetalert2.js"></script>
		<!-- POPUP -->
		<script type="text/javascript" src="/js/lib/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<!-- <script type="text/javascript" src="/js/app/popup.js"></script> -->
		<!-- ROOM -->
		<script type="text/javascript" src="/js/lib/sockjs.min.js"></script>
		<script type="text/javascript" src="/js/lib/stomp.min.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
		<script th:inline="javascript">
		    $(document).ready(function() {
		
		        var roomName = [[${room.name}]];
		        var roomId = [[${room.roomId}]];
		        var username = [[${user}]];
		
		        console.log(roomName + ", " + roomId + ", " + username);
		
		        var sockJs = new SockJS("/ws/chat");
		        // 1. SockJS를 내부에 들고있는 stomp를 내어준다.
		        var stomp = Stomp.over(sockJs);
		
		        // 2. connection이 맺어지면 실행
		        stomp.connect({}, function () {
		           console.log("STOMP Connection")
		
		           // 4. subscribe(path, callback)으로 메세지를 받을 수 있음
		           stomp.subscribe("/sub/chat/room/" + roomId, function(chat) {
		               var chatroom = document.getElementById("msgArea");
		               var content = JSON.parse(chat.body);
		
		               var writer = content.writer;
		               var message = content.message;
		               var str = '';
		               
		               if(message === "[" + writer + "]님이 채팅방에 참여하였습니다.") {
		            	   str = "<div class='alert alert-secondary'>";
		            	   str += "<p class='chat-enter'>" + message + "</p>";
		            	   str += "</div>";
		               } else {
		            	   if(writer === username) {
			                   str = "<p class='chat-me'>" + message + "</p>";
		            	   } else {
			                   str = "<p class='chat-others'>" + '&#x1F607' + " " + writer + " : " + message + "</p>";
		                   }
		               }
		               $("#msgArea").append(str);
		               chatroom.scrollBy(0, 500);
		           });
		
		           // 3. send(path, header, message)로 메세지를 보낼 수 있음
		           stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
		        });
		        
		        $("#msg").keydown(function(e) {
		        	if(e.keyCode === 13) {
		        		const msg = document.getElementById("msg");
		        		
		        		if (msg.value === "" || msg.value == null) {
		        			swal.fire({
		        				text: '내용을 입력하세요.',
		    					icon: 'warning',
		    					confirmButtonColor: '#3085d6',
		    					confirmButtonText: '확인'
		    				});
		        			msg.focus();
		        		} else {
		        			console.log(username + ":" + msg.value);
		        			stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
		        		}
		        		msg.value = '';
		        	}
		        });
		        
		        $("#button-send").on("click", function(e){
		        	const msg = document.getElementById("msg");
		        	
		        	if (msg.value === "" || msg.value == null) {
		        		swal.fire({
		        			text: '내용을 입력하세요.',
	    					icon: 'warning',
	    					confirmButtonColor: '#3085d6',
	    					confirmButtonText: '확인'
	    				});
	        			msg.focus();
		        	} else {
		        		console.log(username + ":" + msg.value);
		        		stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
		        	}
		        	msg.value = '';
		        });
		    });
		</script>
	</th:block>
	
	
</body>

</html>