<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>toy, 관리자</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
</th:block>

</head>
<body>

	<div layout:fragment="content" class="form-join">
		<div class="form-join-left">
			<table id="selectListUser" style="width: 900px;">
			<thead>
				<tr>
					<td style="width: 50px;">번호</td>
					<td style="width: 100px;">아이디</td>
					<td style="width: 200px;">이메일</td>
					<td style="width: 150px;">닉네임</td>
					<td style="width: 100px;">가입경로</td>
					<td style="width: 100px;">권한</td>
					<td style="width: 200px;">가입일</td>
			</thead>
			<tbody>
				<tr th:each="list : ${selectListUser}" style="border-bottom: 1px solid black; height: 30px;">
					<td th:text="${list.userNo}"></td>
					<td th:text="${list.userId}"></td>
					<td th:text="${list.userEmail}"></td>
					<td th:text="${list.userNickname}"></td>
					<td th:text="${list.provider}"></td>
					<td th:text="${list.role}"></td>
					<td th:text="${#temporals.format(list.IDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tbody>
		</table>
		</div>
		<div class="form-join-right">
		</div>
	</div>
	
	<th:block layout:fragment="script">
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<!-- POPUP -->
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script type="text/javascript" src="/js/app/popup.js"></script>
	</th:block>

</body>

</html>