<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ - 관리자</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- ADMIN -->
	<link rel="stylesheet" th:href="@{/css/app/admin.css}" />
	<!-- GOOGLE ICON -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</th:block>

</head>

<body>
	
	<main layout:fragment="content" class="form__admin">
		<div class="admin__detail">
			<input type="hidden" id="userNo" name="userNo" th:value="${admin.userNo}">
			<input type="hidden" id="userId" name="userId" th:value="${admin.userId}">
			<table>
				<tr>
					<td class="admin-head">아이디</td>
					<td id="userId" class="admin-content">[[ ${admin.userId} ]]</td>
				</tr>
				<tr>
					<td class="admin-head">이메일</td>
					<td class="admin-content">[[ ${admin.userEmail} ]]</td>
				</tr>
				<tr>
					<td class="admin-head">닉네임</td>
					<td class="admin-content">[[ ${admin.userNickname} ]]</td>	
				</tr>
				<tr>
					<td class="admin-head">권한</td>
					<td id="admin__role" class="admin-content">[[ ${admin.role} ]]</td>	
				</tr>
				<tr>
					<td class="admin-head">가입일자</td>
					<td class="admin-content">[[ ${#temporals.format(admin.IDate, 'yyyy-MM-dd HH:mm:ss')} ]]</td>
				</tr>
				<tr>
					<td class="admin-head">권한변경</td>
					<td class="admin-content">
						<select th:field="*{authList}" id="userModel">
							<option value="NONE">선택</option>
							<option th:each="authList : ${authList}" th:text="${authList.modelName}" th:value="${authList.modelName}" ></option>
						</select>									
					</td>
				</tr>
			</table>
			
			<div>
			</div>
			
			<div class="admin-expulsion">
				<button onclick="openModal();">회원추방</button>
				<button onclick="saveUser();">저장</button>
			</div>
		</div>
		
		
		
		<div class="admin__content">

			<ul class="tabs">
				<li class="tab-link current" data-tab="tab-1">커뮤니티</li>
				<li class="tab-link" data-tab="tab-2">리뷰</li>
				<li class="tab-link" data-tab="tab-3">작성 댓글</li>
			</ul>
			
			<!-- TAB 1 - 커뮤니티 -->
			<div id="tab-1" class="tab-content current">
				<div class="admin__table" th:if="${boardCommunity.size != 0}">
					<table>
						<thead>
							<tr>
								<td style="text-align: center; font-weight: 600; width: 15%;">번호</td>
								<td style="text-align: center; font-weight: 600; width: 55%;">제목</td>
								<td style="text-align: center; font-weight: 600; width: 30%;">작성일자</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="community : ${boardCommunity}">
								<td style="text-align: center; font-weight: 600;" th:text="${community.id}"></td>
								<td><a th:href="@{/community/detail?id=} + ${community.id}"><span th:text="${community.title}"></span></a></td>
								<td style="text-align: center; font-size: .9rem;" th:text="${#temporals.format(community.IDate, 'yyyy-MM-dd HH:mm')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="admin__table" th:unless="${boardCommunity.size != 0}">
					<span style="display: block; text-align: center;">작성한 커뮤니티 글이 없습니다.</span>
				</div>
			</div>
			
			<!-- TAB 2 - 리뷰 -->
			<div id="tab-2" class="tab-content">
				<div class="admin__table" th:if="${boardReview.size != 0}">
					<table>
						<thead>
							<tr>
								<td style="text-align: center; font-weight: 600; width: 15%;">번호</td>
								<td style="text-align: center; font-weight: 600; width: 55%;">제목</td>
								<td style="text-align: center; font-weight: 600; width: 30%;">작성일자</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="review : ${boardReview}">
								<td style="text-align: center; font-weight: 600;" th:text="${review.id}"></td>
								<td><a th:href="@{/review/detail?id=} + ${review.id}"><span th:text="${review.title}"></span></a></td>
								<td style="text-align: center; font-size: .9rem;" th:text="${#temporals.format(review.IDate, 'yyyy-MM-dd HH:mm')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="admin__table" th:unless="${boardReview.size != 0}">
					<span style="display: block; text-align: center;">작성한 리뷰 글이 없습니다.</span>
				</div>
			</div>
			
			<!-- TAB 3 - 작성 댓글 -->
			<div id="tab-3" class="tab-content">
				<div class="admin__table" th:if="${boardComment.size != 0}">
					<table>
						<thead>
							<tr>
								<td style="text-align: center; font-weight: 600; width: 15%;">번호</td>
								<td style="text-align: center; font-weight: 600; width: 55%;">제목</td>
								<td style="text-align: center; font-weight: 600; width: 30%;">작성일자</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="comment : ${boardComment}">
								<td style="text-align: center; font-weight: 600;" th:text="${comment.id}"></td>
								<td><a th:href="@{/community/detail?id=} + ${comment.boardId}"><span th:text="${comment.content}"></span></a></td>
								<td style="text-align: center; font-size: .9rem;" th:text="${#temporals.format(comment.IDate, 'yyyy-MM-dd HH:mm')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="admin__table" th:unless="${boardComment.size != 0}">
					<span style="display: block; text-align: center;">작성한 리뷰 글이 없습니다.</span>
				</div>
			</div>
		
		</div>
		
		<!-- 내용 수정 모달 -->
		<div id="userInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userInfoModalLabel" aria-hidden="true" style="z-index: 1001;">
		    <div class="modal-dialog modal-dialog-centered" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body">
		                <form>
		                    <div class="form-group">
		                        <label for="modalWriter" class="col-form-label">아이디</label>
		                        <input type="text" id="modalWriter" class="form-control" readonly />
		                    </div>
		                    <div class="form-group">
		                        <label for="modalNickname" class="col-form-label">닉네임</label>
		                        <input type="text" id="modalNickname" class="form-control" readonly />
		                    </div>
		                    <div class="form-group">
		                        <label for="modalContent" class="col-form-label">추방 사유</label>
		                        <textarea id="modalContent" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
		                    </div>
		                </form>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="btnUserUpdate" class="btn btn-primary waves-effect waves-light community-btn" onclick="updateUser();">추방</button>
		                <button type="button" class="btn btn-danger waves-effect waves-light community-btn" data-bs-dismiss="modal" aria-label="Close">취소</button>
		            </div>
		        </div>
		    </div>
		</div>
	</main>
	
	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script type="text/javascript" src="/js/lib/fontawesome.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app/header.js"></script>
		<!-- SWEETALERT2 -->
		<script type="text/javascript" src="/js/lib/sweetalert2.js"></script>
		<!-- POPUP -->
		<script type="text/javascript" src="/js/lib/sockjs.min.js"></script>
		<script type="text/javascript" src="/js/lib/stomp.min.js"></script>
		<!-- <script type="text/javascript" src="/js/app/popup.js"></script> -->
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
		<!-- ADMIN -->
		<script type="text/javascript" src="/js/app/admin.js"></script>
		<script th:inline="javascript">
			// 상세 페이지로 이동
		    function goViewPageCommunity(id) {
		        location.href = '/community/detail' + `?id=${id}`;
		    }
		    function goViewPageReview(id) {
		        location.href = '/review/detail' + `?id=${id}`;
		    }
			
			// 회원 추방
			function openModal() {
				
				$("#userInfoModal").modal("toggle");
				
				document.getElementById("modalWriter").value = [[ ${admin.userId} ]];
				document.getElementById("modalNickname").value = [[ ${admin.userNickname} ]];
				
				document.getElementById("btnUserUpdate").setAttribute("onclick", "updateUser("+ userId +")");
			}
			
			const userId = [[ ${admin.userId} ]];
			
			function updateUser() {
				alert(userId);
			}
			
			// 저장
			function saveUser() {
				var userModel = [[ ${userModel} ]];
				var authList = [[ ${authList} ]];
				
				var userId = document.getElementById("userId").value;
				var selectBox = $("#userModel option:selected").val();
				
				//console.log("아이디 : " + userId);
				//console.log("계정권한 : " + userModel);
				//console.log("선택값 : " + selectBox);
				
				if(selectBox != 'NONE') {
					swal.fire({
	    				text: '회원정보를 저장할까요?',
	    				icon: 'warning',
	    				showCancelButton: true,
	    				confirmButtonColor: '#3085d6',
	    				confirmButtonText: '확인',
	    				cancelButtonColor: '#d33',
	    				cancelButtonText: '취소'
	    			}).then((result) => {
	    				if(result.isConfirmed) {
	    					var uri = [[ @{/admin/detail} ]];
	    					var headers = { "Content-Type": "application/json", "X-HTTP-Method-Override": "POST" };
	    					var params = { "userId": userId, "role": selectBox };
	    					
	    					$.ajax({
	    						url: uri,
	    						type: "POST",
	    						headers: headers,
	    						dataType: "json",
	    						data: JSON.stringify(params),
	    						success: function(data) {
	    							$("#admin__role").append('<td id="admin__role" class="admin-content">' + selectBox + '</td>');
	    						},
	    						error: function(data) {
	    							console.log("fail");
	    						}
	    					});
	    				}
	    			});
				}
			}
			
			// 탭
			$(document).ready(function(){
				
				$('ul.tabs li').click(function(){
					var tab_id = $(this).attr('data-tab');

					$('ul.tabs li').removeClass('current');
					$('.tab-content').removeClass('current');

					$(this).addClass('current');
					$("#"+tab_id).addClass('current');
				})

			})
		</script>
	</th:block>
	
	
</body>

</html>