<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ, 관리자</title>

<th:block layout:fragment="css">
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- ADMIN -->
	<link rel="stylesheet" th:href="@{/css/app/admin.css}" />
</th:block>

</head>
<body>

	<!-- ADMIN : CONTENT -->
	<main layout:fragment="content" class="form-join">
		<div class="form-join-left">
			<!-- <table id="selectListUser" style="width: 900px;">
				<thead>
					<tr>
						<td style="width: 50px;">번호</td>
						<td style="width: 100px;">아이디</td>
						<td style="width: 200px;">이메일</td>
						<td style="width: 150px;">닉네임</td>
						<td style="width: 100px;">가입경로</td>
						<td style="width: 100px;">권한</td>
						<td style="width: 200px;">가입일</td>
				</thead>
				<tbody>
					<tr th:each="list : ${selectListUser}" style="border-bottom: 1px solid black; height: 30px;">
						<td th:text="${list.userNo}"></td>
						<td th:text="${list.userId}"></td>
						<td th:text="${list.userEmail}"></td>
						<td th:text="${list.userNickname}"></td>
						<td th:text="${list.provider}"></td>
						<td th:text="${list.role}"></td>
						<td th:text="${#temporals.format(list.IDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tbody>
			</table> -->
			
			<!-- 리스트 출력 -->
			<table class="tb tb_col user-list">
				<thead>
					<tr>
		        		<td>번호</td>
		        		<td>아이디</td>
		        		<td>권한</td>
		        		<td>비고</td>
		        	</tr>
	        	</thead>
				<tbody id="list"></tbody>
			</table>
			
			<!-- 페이징 -->
			<div class="paging"></div>
			
		</div>
		<div class="form-join-right">
		</div>
	</main>
	
	<!-- ADMIN : SCRIPT -->
	<th:block layout:fragment="script">
		<!-- SETTINGS -->
		<script th:inline="javascript">
			var certified = [[ ${certified} ]];
			var role = [[ ${role} ]];
			var list = [[ ${userList.list} ]];
			var pagination = [[ ${userList.pagination} ]];
			var params = [[ ${params} ]];
		</script>
		<!-- ADMIN -->
		<script type="text/javascript" src="/js/app/admin/list.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
		<!-- ADMIN -->
		<script type="text/javascript" src="/js/lib/moment.js"></script>
	</th:block>

</body>

</html>