<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="description" content="toy-proejct">
<meta name="keywords" content="java, springboot">
<meta name="author" content="tkdalsgks">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>toy, layout</title>

<!-- CSS -->
<th:block layout:fragment="css"></th:block>

</head>

<body>
	
	<!-- HEADER -->
	<th:block th:replace="fragments/header :: header"></th:block>
	
	<!-- CONTENT -->
	<th:block layout:fragment="content"></th:block>
	
	<!-- FOOTER -->
	<th:block th:replace="fragments/footer :: footer"></th:block>
	
	<!-- POPUP - CHAT -->
	<th:block th:replace="fragments/popup :: popup"></th:block>
	
	<!-- POPUP - FIND -->
	<th:block th:replace="user/find_user :: find"></th:block>
	
	<!-- JAVASCRIPT -->
	<th:block layout:fragment="script"></th:block>
	
</body>

</html>