<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>toy, 게시판</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- BOARD -->
	<link rel="stylesheet" th:href="@{/css/app/board.css}" />
	<link rel="stylesheet" th:href="@{/css/app/button.css}" />
</th:block>

</head>

<body>
	
	<div layout:fragment="content" class="container">
		
		<div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true" style="z-index: 1001;">
		    <div class="modal-dialog modal-dialog-centered" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body">
		                <form>
		                    <div class="form-group">
		                        <label for="modalWriter" class="col-form-label">작성자</label>
		                        <input type="text" id="modalWriter" class="form-control" readonly />
		                    </div>
		                    <div class="form-group">
		                        <label for="modalContent" class="col-form-label">내용</label>
		                        <textarea id="modalContent" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
		                    </div>
		                </form>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="btnCommentUpdate" class="btn btn-primary waves-effect waves-light" onclick="updateComment();">수정</button>
		                <button type="button" id="btnCommentDelete" class="btn btn-danger waves-effect waves-light">삭제</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div class="page_tits">
		    <span class="page_tits_name">상세보기</span>
		    <p class="path"><strong>현재 위치 :</strong> <span>게시판 리스트</span> <span><b>상세보기</b></span> <span>작성/수정</span></p>
		</div>
		
		<div class="content">
			<input type="hidden" id="writer" name="writer" th:value="${board.writerId}">
			<input type="hidden" id="userId" name="userId" th:value="${userId}">
			
	        <section>
	        	<p class="board-btn">
	                <a class="btns btn_bdr4 btn_mid" onclick="goWritePage();">수정</a>
	                <button class="btns btn_bdr1 btn_mid" onclick="deleteBoard();">삭제</button>
	                <a href="javascript:history.go(-1)" class="btns btn_bdr3 btn_mid" onclick="goListPage();">뒤로</a>
	            </p>
	            <table class="tb tb_row">
	                <colgroup>
	                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
	                </colgroup>
	                <tbody>
	                    <tr>
	                        <th scope="row">글 유형</th>
	                        <td th:text="${board.noticeYn == false ? '일반' : '공지'}"></td>
	
	                        <th scope="row">등록일</th>
	                        <td th:text="${#temporals.format( board.IDate, 'yyyy-MM-dd HH:mm:ss' )}"></td>
	                    </tr>
	                    <tr>
	                    	<th scope="row">작성자</th>
	                        <td>[[ ${board.writer} ]]</td>
	
	                        <th scope="row">조회수</th>
	                        <td colspan="3">[[ ${board.viewCnt} ]]</td>
	                    </tr>
	                    <tr>
	                        <th scope="row">제목</th>
	                        <td colspan="3">[[ ${board.title} ]]</td>
	                    </tr>
	                    <tr>
	                        <th scope="row">내용</th>
	                        <td colspan="3">[[ ${board.content} ]]</td>
	                    </tr>
	                </tbody>
	            </table>
	        </section>
	    </div>
	    
		<div class="box-content">
			<div class="card-content">
				<div class="clearfix comment-main">
					<span class="box-title pull-left comment-main-name">댓글</span>
				</div>

				<form class="form-horizontal form-view">
					<ul class="notice-list comment-list"></ul>
					<div class="input-group margin-bottom-20 comment-input-group">
						<input type="text" id="content" class="form-control comment-input" />
						<div class="comment-input-btn">
							<button type="button" class="btn waves-effect waves-light" th:onclick="insertComment([[ ${board.id} ]]);">
							<i class="fa fa-commenting" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script src="https://kit.fontawesome.com/77ad8525ff.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app/header.js"></script>
		<!-- POPUP -->
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script type="text/javascript" src="/js/app/popup.js"></script>
		<!-- BOARD -->
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js"></script>
		<script type="text/javascript" src="/js/lib/moment.js"></script>
		<script type="text/javascript" src="/js/app/board.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			// 게시글 삭제
	        function deleteBoard() {
	            const id = [[ ${board.id} ]];
	            if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
	                return false;
	            }
	            
	            const writer = document.getElementById('writer').value;
	        	const userId = document.getElementById('userId').value;
	        	
	        	if(writer != userId) {
	        		alert("권한이 없는 게시글입니다.");
	        	} else {
	        		let inputHtml = '';
		            new URLSearchParams(location.search).forEach((value, key) => {
		                inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
		            })
		            
		            const formHtml = `
		                <form id="deleteForm" action="/board/delete" method="post">
		                    ${inputHtml}
		                </form>
		            `;
		            
		            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
		            const form = doc.body.firstChild;
		            document.body.append(form);
		            document.getElementById('deleteForm').submit();
	        	}
	        }
		
			// 게시글 리스트 페이지로 이동
	        function goListPage() {
	            const queryString = new URLSearchParams(location.search);
	            queryString.delete('id');
	            location.href = '/board' + '?' + queryString.toString();
	        }
			
			// 게시글 수정 페이지로 이동
	        function goWritePage() {
	        	const writer = document.getElementById('writer').value;
	        	const userId = document.getElementById('userId').value;
	        	
	        	if(writer != userId) {
	        		alert("권한이 없는 게시글입니다.");
	        	} else {
			        location.href = '/board/write' + location.search;
	        	}
	        	/* th:href="@{/board/write( id=${board.id} )}"  */
	        }
			
	        $(function() {
				printCommentList();
			});
	        
			function openModal(id, writer, content) {
				
				$("#commentModal").modal("toggle");
				
				document.getElementById("modalWriter").value = writer;
				document.getElementById("modalContent").value = content;
				
				document.getElementById("btnCommentUpdate").setAttribute("onclick", "updateComment("+ id +")");
				document.getElementById("btnCommentDelete").setAttribute("onclick", "deleteComment("+ id +")");
			}
			
			// 댓글 작성
			function insertComment(boardId) {

				var content = document.getElementById("content");
				if (isEmpty(content.value) == true) {
					content.setAttribute("placeholder", "댓글을 입력해 주세요.");
					content.focus();
					return false;
				}

				var uri = [[ @{/comments} ]];
				var headers = { "Content-Type": "application/json", "X-HTTP-Method-Override": "POST" };
				var params = { "boardId": boardId, "content": content.value, "writerId": [[ ${userId} ]], "writer": [[ ${userName} ]] };
				
				$.ajax({
					url: uri,
					type: "POST",
					headers: headers,
					dataType: "json",
					data: JSON.stringify(params),
					success: function(response) {
						if(response.result == false) {
							alert("댓글 등록에 실패하였습니다.");
							return false;
						}
						
						printCommentList();
						content.value = "";
					},
					error: function(xhr, status, error) {
						alert("잠시후 재시도 해주세요.");
						return false;
					}
				});
			}
			
			// 댓글 수정
			function updateComment(id) {
				var writer = document.getElementById("modalWriter");
				var content = document.getElementById("modalContent");
				
				var uri = [[ @{/comments/} ]] + id;
				var headers = { "Content-Type": "application/json", "X-HTTP-Method-Override": "PATCH" };
				var params = { "id": id, "writer": writer.value, "content": content.value };
				
				$.ajax({
					url: uri,
					type: "PATCH",
					headers: headers,
					dataType: "json",
					data: JSON.stringify(params),
					success: function(response) {
						if (response.result == false) {
							alert("댓글 수정에 실패하였습니다.");
							return false;
						} else if(response.result == "isUnauthorized") {
							alert(response.message);
						}
						printCommentList();
						$("#commentModal").modal("hide");
					},
					error: function(response) {
						alert("잠시후 재시도 해주세요.");
						console.log(response.result);
						return false;
					}
				});
			}
			
			// 댓글 삭제
			function deleteComment(id) {
				
				if (!confirm('댓글을 삭제하시겠어요?')) {
					return false;
				}
				
				var uri = [[ @{/comments/} ]] + id;
				var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "DELETE"};
				
				$.ajax({
					url: uri,
					type: "DELETE",
					headers: headers,
					dataType: "json",
					success: function(response) {
						if (response.result == false) {
							alert("댓글 삭제에 실패하였습니다.");
							return false;
						} else if(response.result == "isUnauthorized") {
							alert(response.message);
						} else {
							alert(response.message);
						}
						printCommentList();
						$("#commentModal").modal("hide");							
					},
					error: function(xhr, status, error) {
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			}
			
			// 댓글 리스트 출력
			function printCommentList() {
				
				var uri = [[ @{/comments/} + ${board.id} ]];
				
				$.get(uri, function(response) {
					if (isEmpty(response) == false) {
						var commentsHtml = "";

						$(response.commentList).each(function(id, comment) {
							commentsHtml += `
								<li class="comment-li">
									<img src="/img/app/chat/chat.png" class="comment-img">
									<strong class="name comment-name">${comment.writer}</strong>
									<span class="time comment-time">${moment(comment.IDate).format('YYYY-MM-DD HH:mm:ss')}</span>
									<span onclick="openModal(${comment.id}, '${comment.writer}', '${comment.content}' )" class="material-symbols-outlined" style="cursor: pointer; font-size: 15px;">edit</span>
									<br>
									<span class="desc comment-content">${comment.content}</span>
								</li>
							`;
						});
						
						$(".notice-list").html(commentsHtml);
					}
				}, "json");
			}
		/*]]>*/
		</script>
	</th:block>
	
	
</body>

</html>