<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>toy, 게시판</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- BOARD -->
	<link rel="stylesheet" th:href="@{/css/app/board.css}" />
	<link rel="stylesheet" th:href="@{/css/app/button.css}" />
</th:block>

</head>

<body>
	
	<div layout:fragment="content" class="container">
		<div class="page_tits">
		    <h3>상세보기</h3>
		    <p class="path"><strong>현재 위치 :</strong> <span>게시판 리스트</span> <span>상세보기</span> <span>작성/수정</span></p>
		</div>
		
		<div class="content">
	        <section>
	            <table class="tb tb_row">
	                <colgroup>
	                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
	                </colgroup>
	                <tbody>
	                    <tr>
	                        <th scope="row">글 유형</th>
	                        <td th:text="${board.noticeYn == false ? '일반' : '공지'}"></td>
	
	                        <th scope="row">등록일</th>
	                        <td th:text="${#temporals.format( board.IDate, 'yyyy-MM-dd HH:mm' )}"></td>
	                    </tr>
	                    <tr>
	                        <th scope="row">제목</th>
	                        <td>[[ ${board.title} ]]</td>
	
	                        <th scope="row">조회</th>
	                        <td colspan="3">[[ ${board.viewCnt} ]]</td>
	                    </tr>
	                    <tr>
	                        <th scope="row">이름</th>
	                        <td colspan="3">[[ ${board.writer} ]]</td>
	                    </tr>
	                    <tr>
	                        <th scope="row">내용</th>
	                        <td colspan="3">[[ ${board.content} ]]</td>
	                    </tr>
	                </tbody>
	            </table>
	            <p class="btn_set">
	                <a th:href="@{/board/write( id=${board.id} )}" class="btns btn_bdr4 btn_mid" onclick="goWritePage();">수정</a>
	                <button class="btns btn_bdr1 btn_mid" onclick="deleteBoard();">삭제</button>
	                <a th:href="@{/board}" class="btns btn_bdr3 btn_mid" onclick="goListPage();">뒤로</a>
	            </p>
	        </section>
	    </div>
	    <!--/* .content */-->
	</div>
	
	<th:block layout:fragment="script">
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<!-- POPUP -->
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script type="text/javascript" src="/js/app/popup.js"></script>
		<!-- BOARD -->
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js"></script>
		<script type="text/javascript" src="/js/app/board.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			// 게시글 삭제
	        function deleteBoard() {
	            
	            const id = [[ ${board.id} ]];
	            if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
	                return false;
	            }
	    
	            let inputHtml = '';
	            new URLSearchParams(location.search).forEach((value, key) => {
	                inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
	            })
	    
	            const formHtml = `
	                <form id="deleteForm" action="/board/delete" method="post">
	                    ${inputHtml}
	                </form>
	            `;
	    
	            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
	            const form = doc.body.firstChild;
	            document.body.append(form);
	            document.getElementById('deleteForm').submit();
	        }
		
			// 게시글 리스트 페이지로 이동
	        function goListPage() {
	            const queryString = new URLSearchParams(location.search);
	            queryString.delete('id');
	            location.href = '/board' + '?' + queryString.toString();
	        }
			
			// 게시글 수정 페이지로 이동
	        function goWritePage() {
	            location.href = '/board/write' + location.search;
	        }
		/*]]>*/
		</script>
	</th:block>
	
	
</body>

</html>