<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>toy, 게시판</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- BOARD -->
	<link rel="stylesheet" th:href="@{/css/app/board.css}" />
	<link rel="stylesheet" th:href="@{/css/app/button.css}" />
</th:block>

</head>

<body>
	
	<div layout:fragment="content" class="container">
		<div class="page_tits">
			<h3>작성/수정</h3>
			<p class="path"><strong>현재 위치 :</strong> <span>게시판 리스트</span> <span>상세보기</span> <span><b>작성/수정</b></span></p>
		</div>
		
		<div class="content">
			<section>
				<form id="saveForm" method="post" autocomplete="off">
					<!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
					<input type="hidden" id="id" name="id" th:if="${board != null}" th:value="${board.id}" />
					
					<!--/* 서버로 전달할 공지글 여부 */-->
					<input type="hidden" id="noticeYn" name="noticeYn" />
					<table class="tb tb_row">
						<colgroup>
							<col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">공지글</th>
								<td sec:authorize="hasAnyRole('ROLE_ADMIN')"><span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"></label></span></td>
								<td sec:authorize="hasAnyRole('ROLE_USER')"><span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" disabled="disabled" /><i></i><label for="isNotice"></label></span></td>
								
								<th scope="row">등록일</th>
								<td colspan="3"><input type="text" id="IDate" name="IDate" readonly /></td>
							</tr>
							
							<tr>
								<th>작성자 <span class="es">필수 입력</span></th>
								<td colspan="3"><input type="text" id="writer" name="writer" maxlength="10" th:value="${user}" readonly /></td>
							</tr>
							
							<tr>
								<th>제목 <span class="es">필수 입력</span></th>
								<td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요." /></td>
							</tr>
							
							<tr>
								<th>내용 <span class="es">필수 입력</span></th>
								<td colspan="3"><textarea id="content" name="content" cols="150" rows="15" placeholder="내용을 입력해 주세요."></textarea></td>
							</tr>
						</tbody>
					</table>
				</form>
				
				<p class="btn_set">
					<button id="saveBtn" class="btns btn_st3 btn_mid" onclick="saveBoard();">저장</button>
					<a href="javascript:history.go(-1)" class="btns btn_bdr3 btn_mid">뒤로</a>
				</p>
			</section>
		</div>
		<!--/* .content */-->
	</div>
	
	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script src="https://kit.fontawesome.com/77ad8525ff.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app/header.js"></script>
		<!-- POPUP -->
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script type="text/javascript" src="/js/app/popup.js"></script>
		<!-- BOARD -->
		<script type="text/javascript" src="/js/lib/moment.js"></script>
		<script type="text/javascript" src="/js/app/board.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
	    	window.onload = () => {
	    		renderBoardInfo();
	    	}
	    	
	    	// 등록일 초기화
	    	function initIDate() {
	    		document.getElementById('IDate').value = moment().format('YYYY-MM-DD');
	    	}
	    	
	    	// 게시글 상세정보 렌더링
	    	function renderBoardInfo() {
	    		const board = [[ ${board} ]];
	    		
	    		if ( !board ) {
	    			initIDate();
	    			return false;
	    		}
	    		
	    		const form = document.getElementById('saveForm');
	    		const fields = ['id', 'title', 'content', 'writer', 'noticeYn'];
	    		form.isNotice.checked = board.noticeYn;
	    		form.IDate.value = moment(board.IDate).format('YYYY-MM-DD HH:mm');
	    		
	    		fields.forEach(field => {
	    			form[field].value = board[field];
	    		});
	    	}
	    	
	    	// 게시글 저장(수정)
	    	function saveBoard() {
	    		const form = document.getElementById('saveForm');
	    		const fields = [form.title, form.writer, form.content];
	    		const fieldNames = ['제목', '이름', '내용'];
	    		
	    		for (let i = 0, len = fields.length; i < len; i++) {
	    			isValid(fields[i], fieldNames[i]);
	    		}
	    		
	    		document.getElementById('saveBtn').disabled = true;
	    		form.noticeYn.value = form.isNotice.checked;
	    		form.action = [[ ${board == null} ]] ? '/board/save' : '/board/update';
	    		form.submit();
	    	}
	    	
	    /*]]>*/
		</script>
	</th:block>
	
</body>

</html>