<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.toy.chat.mapper.ChatRoomMapper">

	<insert id="insertChatRoom" parameterType="ChatRoomDTO">
		/* com.project.toy.chat.mapper.ChatMapper, 채팅방 개설 기록 */
		
		INSERT INTO CHAT_ROOM_LOG ( ROOM_ID, NAME, I_USER )
		VALUES ( #{ roomId }, #{ name }, #{ userId } )
	</insert>
	
	<insert id="insertChatMessage" parameterType="ChatMessageDTO">
		/* com.project.toy.chat.mapper.ChatMapper, 채팅 메시지 기록 */
		
		INSERT INTO CHAT_MESSAGE_LOG ( ROOM_ID, MESSAGE, WRITER_ID )
		VALUES ( #{ roomId }, #{ message }, #{ writerId } )
	</insert>
	
	<select id="listChatMessage" resultType="ChatResponseDTO">
		/* com.project.toy.chat.mapper.ChatMapper, 과거 채팅내역 불러오기 */
		
		SELECT B.ROOM_ID, 
		       B.NAME, 
		       A.MESSAGE, 
		       C.USER_NICKNAME AS WRITER, 
		       A.WRITER_ID, 
		       A.I_DATE 
		FROM   CHAT_MESSAGE_LOG A
		LEFT OUTER JOIN CHAT_ROOM_LOG B ON A.ROOM_ID = B.ROOM_ID
		LEFT OUTER JOIN T_PERSON C ON A.WRITER_ID = C.USER_ID
		WHERE 1=1
		AND   B.USE_YN = 'Y'
		AND   B.ROOM_ID = #{ roomId }
		ORDER BY A.I_DATE ASC
	</select>
	
</mapper>