<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.toy.comment.mapper.CommentMapper">
	
	<sql id="commentColumns">
		ID
		, BOARD_ID
		, CONTENT
		, WRITER_ID
		, WRITER
		, RATING
		, DELETE_YN
		, I_DATE
		, U_DATE
	</sql>
	
	<select id="findByCommentId" parameterType="long" resultType="CommentResponseDTO">
		/* com.project.toy.comment.mapper.CommentMapper, 해당 댓글 출력 */
		
		SELECT <include refid="commentColumns" />
		FROM  COMMENT
		WHERE DELETE_YN = 'N'
		AND   ID = #{ id }
	</select>
	
	<!-- 저장 -->
	<insert id="saveComment" parameterType="CommentRequestDTO" useGeneratedKeys="true" keyProperty="id">
		/* com.project.toy.comment.mapper.CommentMapper, 댓글 저장 */
		
		INSERT INTO COMMENT ( <include refid="commentColumns" /> )
		VALUES ( #{ id }, #{ boardId }, #{ content }, #{ writerId }, #{ writer }, #{ rating }, 'N', NOW(), NULL )
	</insert>
	
	<!-- 댓글 수 업데이트 -->
	<update id="updateCountComment" parameterType="CommentRequestDTO">
		/* com.project.toy.comment.mapper.CommentMapper, 댓글 수 업데이트 */
		
		UPDATE BOARD B
		SET    B.COMMENT_CNT = ( SELECT COUNT(1)
		                         FROM   COMMENT C
		                         WHERE  1=1
		                         AND    C.BOARD_ID = #{ boardId } )
		WHERE  1=1
		AND    B.DELETE_YN = 0
		AND    B.ID = #{ boardId }
	</update>
	
	<!-- 수정 -->
	<update id="updateComment" parameterType="CommentRequestDTO">
		/* com.project.toy.comment.mapper.CommentMapper, 댓글 수정 */
		
		UPDATE COMMENT
		SET    U_DATE = NOW()
		     , CONTENT = #{ content }
		     , WRITER = #{ writer }
		WHERE  1=1
		AND    ID = #{ id }
	</update>
	
	<!-- 삭제 -->
	<update id="deleteComment" parameterType="long">
		/* com.project.toy.comment.mapper.CommentMapper, 댓글 삭제 */
		
		UPDATE COMMENT
		SET    CONTENT = '[삭제된 댓글입니다.]'
		     , DELETE_YN = 'Y'
		     , U_DATE = NOW()
		WHERE  1=1
		AND    ID = #{ id }
	</update>
	
	<!-- 리스트 조회 -->
	<select id="findAll" parameterType="long" resultType="CommentResponseDTO">
		/* com.project.toy.comment.mapper.CommentMapper, 해당 게시글 댓글 전체 조회 */
		
		SELECT A.ID, 
		       A.BOARD_ID, 
		       A.CONTENT, 
		       B.USER_NO AS WRITER_NO, 
		       A.WRITER_ID, 
		       A.WRITER, 
		       B.PROFILE_IMG, 
		       A.RATING, 
		       A.DELETE_YN, 
		       A.I_DATE, 
		       A.U_DATE
		FROM   COMMENT A
		LEFT OUTER JOIN T_PERSON B ON A.WRITER_ID = B.USER_ID
		WHERE  1=1
		AND    A.BOARD_ID = #{ value }
		ORDER BY A.ID ASC
	</select>
	
	<!-- 댓글 갯수 카운트 -->
	<select id="countComment" parameterType="long" resultType="int">
		/* com.project.toy.comment.mapper.CommentMapper, 댓글 갯수 카운팅 */
		
		SELECT COUNT(1)
		FROM   COMMENT
		WHERE  1=1
		AND    BOARD_ID = #{ boardId }
	</select>
	
</mapper>