<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.toy.likes.mapper.LikesMapper">

	<sql id="likesColumns">
		ID,
		BOARD_ID,
		USER_ID,
		I_DATE
	</sql>
	
	<select id="selectLikes" parameterType="LikesDTO" resultType="int">
		/* com.project.toy.likes.mapper.LikesMapper, 해당 게시글 좋아요 갯수 카운팅 */
		
		SELECT COUNT(1) FROM BOARD_LIKES WHERE BOARD_ID = #{ boardId } AND USE_YN = 'Y'
	</select>
	
	<!-- 좋아요한 게시글 카운트 -->
	<select id="findLikes" resultType="int">
		/* com.project.toy.likes.mapper.LikesMapper, 사용자 게시글 좋아요 갯수 카운팅 */
		
		SELECT COUNT(1) FROM BOARD_LIKES WHERE BOARD_ID = #{ boardId } AND USER_ID = #{ userId } AND USE_YN = 'Y'
	</select>
	
	<!-- 좋아요 -->
	<insert id="saveLikes" parameterType="LikesDTO">
		/* com.project.toy.likes.mapper.LikesMapper, 게시글 좋아요 */
		
		INSERT INTO toy.BOARD_LIKES ( <include refid="likesColumns" /> )
		VALUES ( nextval(BOARD_LIKES_SEQ), #{ boardId }, #{ userId }, NOW() )
	</insert>
	
	<!-- 취소 -->
	<update id="deleteLikes" parameterType="LikesDTO">
		/* com.project.toy.likes.mapper.LikesMapper, 게시글 좋아요 취소 */
		
		UPDATE toy.BOARD_LIKES
		SET    USE_YN = 'N'
		WHERE  1=1
		AND    BOARD_ID = #{ boardId }
		AND    USER_ID = #{ userId }
	</update>
	
	<!-- 좋아요 수 업데이트 -->
	<update id="updateCountLikes" parameterType="LikesDTO">
		/* com.project.toy.likes.mapper.LikesMapper, 게시글 좋아요 갯수 업데이트 */
		
		UPDATE BOARD B
		SET    B.LIKES_CNT = ( SELECT COUNT(1)
		                       FROM   BOARD_LIKES L
		                       WHERE  1=1
		                       AND    L.USE_YN = 'Y'
		                       AND    L.BOARD_ID = #{ boardId } )
		WHERE  1=1
		AND    B.DELETE_YN = 0
		AND    B.ID = #{ boardId }
	</update>
	
	<!-- 오늘 좋아요 누른 횟수 -->
	<select id="selectTodayLikes" parameterType="LikesDTO" resultType="int">
		/* com.project.toy.likes.mapper.LikesMapper, 사용자별 오늘 좋아요 누른 횟수 */
		
		SELECT COUNT(1)
		FROM   BOARD_LIKES
		WHERE  USER_ID = #{ userId }
		AND    I_DATE BETWEEN (SELECT DATE_FORMAT(NOW(), '%Y-%m-%d') FROM DUAL) AND NOW()
		AND    USE_YN = 'Y'
	</select>
	
</mapper>