<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.toy.points.mapper.PointsMapper">

	<insert id="savePoints" parameterType="PointsRequestDTO" useGeneratedKeys="true" keyProperty="id">
		/* com.project.toy.points.mapper.PointsMapper, 활동점수 적립 */
		
		INSERT INTO T_POINTS ( POINTS_ID, POINTS_CD, POINTS, USER_ID )
		VALUES ( '+', #{ pointsCd }, #{ points }, #{ userId } )
	</insert>
	
	<select id="loginPoints" parameterType="PointsRequestDTO" resultType="int">
		/* com.project.toy.points.mapper.PointsMapper, 하루단위 첫 로그인 판별 */
		
		SELECT COUNT(1)
		FROM   T_POINTS
		WHERE  1=1
		AND    POINTS_CD = #{ pointsCd }
		AND    DATE_FORMAT(I_DATE, "%Y-%m-%d") = CURDATE()  
		AND    USER_ID = #{ userId }
	</select>
	
	<select id="expirePoints" resultType="PointsResponseDTO">
		/* com.project.toy.points.mapper.PointsMapper, 소멸예정 활동점수 */
		
		SELECT A.USER_NO, 
		       A.USER_ID, 
		       A.USER_NICKNAME, 
		       IFNULL(FORMAT(SUM(C.POINTS), 0), 0) AS POINTS
		FROM   T_PERSON A
		LEFT OUTER JOIN T_AUTH_MODEL B ON A.ROLE = B.MODEL_NAME
		LEFT OUTER JOIN T_POINTS C ON A.USER_ID = C.USER_ID 
		WHERE  1=1
		AND    C.POINTS_ID = '+'
		<![CDATA[
		AND    C.I_DATE <= DATE_ADD(NOW(), INTERVAL -6 MONTH)
		]]>
		AND    A.USER_ID = #{ userId }
	</select>
	
	<select id="earningsPoints" resultType="PointsResponseDTO">
		/* com.project.toy.points.mapper.PointsMapper, 활동점수 적립내역 */
		
		SELECT A.USER_NO, 
		       A.USER_ID, 
		       A.USER_NICKNAME,
		       D.COMM_D_NM, 
		       C.POINTS_ID,
		       C.POINTS_CD, 
		       FORMAT(C.POINTS, 0) AS POINTS,
		       DATE_FORMAT(C.I_DATE, "%Y-%m-%d %H:%i") AS I_DATE 
		FROM   T_PERSON A
		LEFT OUTER JOIN T_AUTH_MODEL B ON A.ROLE = B.MODEL_NAME
		LEFT OUTER JOIN T_POINTS C ON A.USER_ID = C.USER_ID
		LEFT OUTER JOIN COMM_D D ON C.POINTS_CD = D.COMM_D_CD
		WHERE  1=1
		AND    A.USER_ID = #{ userId }
		ORDER BY C.I_DATE DESC
		LIMIT 15
	</select>
	
	<select id="rankingTotalPoints" resultType="RankDTO">
		/* com.project.toy.points.mapper.PointsMapper, 누적 활동점수 랭킹 */
		
		SELECT RANK() OVER (ORDER BY POINTS DESC) AS RANKING,
		       A.USER_NO,
		       A.USER_ID,
		       A.USER_NICKNAME,
		       IFNULL(SUM(B.POINTS), 0) AS POINTS
		FROM   T_PERSON A
		LEFT OUTER JOIN T_POINTS B ON A.USER_ID = B.USER_ID
		WHERE  1=1
		AND    B.POINTS_ID = '+'
		AND    B.POINTS IS NOT NULL
		AND    A.USER_EMAIL NOT LIKE '%@oyez.kr'
		GROUP BY A.USER_ID
		ORDER BY RANKING
		LIMIT 10
	</select>
	
	<select id="rankingWeekPoints" resultType="RankDTO">
		/* com.project.toy.points.mapper.PointsMapper, 1주간(TODAY - 1WEEK) 활동점수 랭킹 */
		
		SELECT RANK() OVER (ORDER BY POINTS DESC) AS RANKING,
		       A.USER_NO,
		       A.USER_ID,
		       A.USER_NICKNAME,
		       IFNULL(SUM(B.POINTS), 0) AS POINTS
		FROM   T_PERSON A
		LEFT OUTER JOIN T_POINTS B ON A.USER_ID = B.USER_ID
		WHERE  1=1
		AND    B.POINTS_ID = '+'
		AND    B.I_DATE BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() 
		AND    A.USER_EMAIL NOT LIKE '%@oyez.kr'
		GROUP BY A.USER_ID
		ORDER BY RANKING
		LIMIT 10
	</select>
	
	<update id="saveGoods" parameterType="GoodsDTO">
		/* com.project.toy.points.mapper.PointsMapper, 참 잘했어요 도장 */
		
		UPDATE T_GOODS
		<![CDATA[
		SET    GOODS_CNT = GOODS_CNT + 1, 
		       I_DATE = NOW()
		]]>
		WHERE  1=1
		AND    USER_ID = #{ userId }
	</update>
	
	<select id="selectGoodsUser1" resultType="int">
		SELECT GOODS_CNT
		FROM   T_GOODS
		WHERE  1=1
		AND    USER_ID = 'dwc06131'
	</select>
	
	<select id="selectGoodsUser2" resultType="int">
		SELECT GOODS_CNT
		FROM   T_GOODS
		WHERE  1=1
		AND    USER_ID = 'i00421'
	</select>
	
	<select id="totalGoodsUser1" resultType="int">
		SELECT TOTAL_CNT
		FROM   T_GOODS_TOTAL
		WHERE  1=1
		AND    USER_ID = 'dwc06131'
	</select>
	
	<select id="totalGoodsUser2" resultType="int">
		SELECT TOTAL_CNT
		FROM   T_GOODS_TOTAL
		WHERE  1=1
		AND    USER_ID = 'i00421'
	</select>
	
	<update id="resetGoods" parameterType="GoodsDTO">
		UPDATE T_GOODS
		SET    GOODS_CNT = 0, 
		       I_DATE = NOW()
		WHERE  1=1
		AND    USER_ID = #{ userId };
		
		UPDATE T_GOODS_TOTAL
		<![CDATA[
		SET    TOTAL_CNT = TOTAL_CNT + 1, 
		       I_DATE = NOW()
		]]>
		WHERE  1=1
		AND    USER_ID = #{ userId }
	</update>
	
	
</mapper>