
/* COMMON ------------------------------- */
.form__admin { width: 550px; margin: 0 auto; margin-bottom: 3rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

/* 본문 내용 ------------------------------- */
.user-list { width: 550px; }
.user-list thead td { text-align: center; font-weight: 600; }
.user-list tbody td { text-align: center; }

/* paging ------------------------------- */
.paging * {-webkit-box-sizing:border-box;box-sizing:border-box;}
.paging {text-align:center; margin:3% 0 0;}
.paging > p {display:inline-block; margin:0 4px;}
.paging > p > a, .paging > p > span {margin-left:-1px;}
.paging > p > a:first-child, .paging > p > span:first-child {margin-left:0;}
.paging a, .paging span {display:inline-block; width:30px; height:30px; line-height:240%; color:#999; font-size:12px;}
.paging a:hover {background:#f7f7f7;}
.paging a.on, .paging span.on {--tw-bg-opacity: 1; background: rgb(240 246 250/var(--tw-bg-opacity)); border-color:transparent; border-radius:4px;}
.paging .page_bt {position:relative;}
.paging .page_bt::after {background-position:-30px 0; width:6px; height:11px; position:absolute; top:50%; left:50%; margin:-5px 0 0 -3px;}
.paging .first::after {background-position:-15px 0; width:12px; margin-left:-6px;}
.paging .next::after {background-position:-40px 0;}
.paging .last::after {background-position:-49px 0; width:12px; margin-left:-6px;}
.paging .prev, .paging .last {margin-left:-1px;}

/* detail ------------------------------- */
.admin__information-head { width: 30%; font-weight: 600; text-align: center; }
.admin__information-content { width: 70%; }
.admin__information-content span { font-size: .85rem; font-weight: 500; cursor: pointer; }
.admin__points-sep { width: 10%; font-weight: 600; }
.admin__points-points { width: 20%; font-weight: 600; }
.admin__points-content { width: 35%; font-weight: 600; }
.admin__points-date { width: 35%; font-weight: 600; }
.admin__expulsion { text-align: center; margin-top: 2rem; margin-bottom: 2rem; }
.admin__expulsion button { background: #A0A0FF; border: none; border-radius: 5px; padding: .25rem .85rem; color: #fff; }
.admin__information { margin-bottom: 2rem; }
.admin__information span, .admin__points span { margin-left: 1rem; font-weight: 600; }
.admin__points thead { text-align: center; }

/* detail __TAB ------------------------------- */
ul.tabs { margin: 0px; padding: 0px; list-style: none; }
ul.tabs li { background: none; color: #222; display: inline-block; padding: 10px 15px; cursor: pointer; }
ul.tabs li.current { background: #ededed; color: #222; }
.tab-content { display: none; background: #ededed; padding: 15px; margin-bottom: 3rem; }
.tab-content.current { display: inherit; }

.admin__table { margin-top: 1rem; margin-bottom: 2rem; }
.admin__table table { width: 100%; }



@media (max-width: 500px) {
	.form__admin { width: 450px; }
	.user-list { width: 450px; }
	.admin__detail table { max-width: 450px; }
}

@media (max-width: 400px) {
	.form__admin { width: 350px; }
	.user-list { width: 350px; }
	.admin__detail table { max-width: 350px; }
}

.admin__detail table { width: 300px; margin: 0 auto; margin-top: 1rem; }
.admin__points table { width: 400px; margin: 0 auto; margin-top: 1rem; }



