@charset "EUC-KR";

.container { width: 1000px; margin: 0 auto; padding: 25px }
.container h1 { text-align: left; padding: 5px 5px 5px 15px; color: #FFBB00; border-left: 3px solid #FFBB00; margin-bottom: 20px; }

/* Room */
.chat-msgArea { width: 1300px; border-radius: 20px 20px 20px 20px; overflow: hidden; }
.chat-me-writer { margin: 0 0 5px 0; }
.chat-me-message {  }
.chat-other-writer {  }
.chat-other-message {  }