
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* COMMON */
* { font-family: 'Pretendard'; font-weight: 300; font-display: swap; }
body { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; height: 100%; max-width: 80rem; margin: 0 auto; padding-top: 90px; color: #111827; }

@media (max-width: 500px) {
	body { padding-top: 70px; }
}

input:focus { outline: 2.5px solid #00F5FF !important; -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important; transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important; -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important; }

/* INDEX */
.form-index { position: relative; top: 0; left: 0; right: 0; bottom: 0; min-height: 100%; }
.index-brand { text-align: center; margin-top: 3rem; margin-bottom: 3rem; }
.index-brand img { width: 100px; height: 50px; }

/* MAIN */
.main { height: 100%; text-align: center; }

.form-main { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 700px; text-align: center; }
.form-group { text-align: center; margin: 20px 0 0 0; }
.form-group > input { width: 220px; height: 45px; margin: 0 auto; }
.form-group > a { padding: 0 auto; font-size: 13px; color: #808080 }
.fa-sharp { color: #DA70D6; }
.fa-sharp:hover { color: black; -webkit-transition: all 0.8s; -o-transition: all 0.8s; transition: all 0.8s; }

.form-login { text-align: center; position: absolute; left: 50%; top: 50%; }
.form-login2 { -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%) }

.form-forgot { text-align: center; }
.form-login-general { text-align: center; }
.form-login-sns { text-align: center; margin-top: 11.5rem; }
.login-general { width: 150px; height: 40px; margin: 40px 0 0 0; }
.login-kakao { margin: 3px 0 5px 0; }
.login-google { margin: 3px 0 5px 0; }
.login-join { width: 150px; height: 40px; margin: 10px 0 0 0; }
.others-login { width: 185px; height: 40px; margin: 3px 0 0 0; font-weight: 600; }
#form-index-one { display: initial; }
#form-index-two { display: none; }

.find-user { width: 200px; margin-top: 5px; margin-left: 30px; border: none; background-color: initial; text-align: left; font-size: 14px; color: gray; }
.find-user:hover { color: #DA70D6; }

/* HEADER */
.header { position: fixed; z-index: 1; top: 0; left: 0; right: 0; -webkit-transition: background 350ms ease 5s; -o-transition: background 350ms ease 5s; transition: background 350ms ease 5s; background: var(--color-background);
			opacity: 0.85; -webkit-backdrop-filter: blur(20px); backdrop-filter: blur(20px); font-weight: 800; -webkit-backdrop-filter: blur(30px); }
.header a { text-decoration: none; color: black; }
.header-nav { max-width: 80rem; margin: 0 auto; }
.navbar-brand { margin-right: 100px; font-size: 30px; }
.navbar-brand img { width: 60px; height: 30px; }
.nav-item { margin-right: 2rem; font-size: 0.875rem; font-weight: 500; }
.nav-item a { font-size: 0.875rem; font-weight: 500; color: #111827; }
.nav-item span { font-size: 0.875rem; font-weight: 500; color: #111827; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.nav-myinfo { width: 2.25rem; height: 2.25rem; border: 1px solid black; border-radius: 50%; }
.fa-sharp { color: #DA70D6; }

.header-mobile { position: fixed; z-index: 1; top: 0; left: 0; right: 0; -webkit-transition: background 350ms ease 5s; -o-transition: background 350ms ease 5s; transition: background 350ms ease 5s; background: var(--color-background);
			opacity: 0.85; -webkit-backdrop-filter: blur(20px); backdrop-filter: blur(20px); font-weight: 500; -webkit-backdrop-filter: blur(30px); }
.header-mobile a { text-decoration: none; color: black; }
.header-mobile-nav { max-width: 40rem; margin: 0 auto; }
.navbar-brand-mobile { margin-right: 5rem; font-size: 30px; }
.navbar-brand-mobile img { width: 60px; height: 30px; }
.navbar-nav { float: right; }
.nav-item-mobile { margin-right: 2rem; font-size: 0.875rem; font-weight: 500; }
.nav-item-mobile a { font-size: 0.875rem; font-weight: 500; color: #111827; }
.nav-item-mobile span { font-size: 0.875rem; font-weight: 500; color: #111827; }
.nav-myinfo-mobile { width: 2.25rem; height: 2.25rem; border: 1px solid black; border-radius: 50%; }

.nav-link { text-align: right; }

.dropdown-menu { padding-top: 0 !important; padding-bottom: 0 !important; }
.dropdown-logout { border-top: 1.5px solid #DEDEDE; margin: 0 auto; }
.dropdown-logout-mobile { border-top: 1.5px solid #DEDEDE; margin: 0 auto; }
.dropdown-item { padding: .5rem 1rem !important; }

/* FOOTER */
.footer { width: 100%; position: fixed; left: 0; right: 0; bottom: 0; text-align: center; padding-top: 1.75rem; padding-bottom: 1.25rem; }
.footer-copyright { font-size: 0.75rem; opacity: 0.75; }
.footer-develop { font-size: 0.75rem; opacity: 0.75; }
.footer-by { font-weight: 400; text-decoration: underline; opacity: 0.9; }

/* JOIN */
.container-join { text-align: center; }
.join-brand { text-align: center; margin-bottom: 1.5rem; }
.join-brand img { width: 60px; height: 30px; }
.form-join { margin: 0 auto; margin-bottom: 3rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.form-join tr, .form-join th, .form-join td { padding: 0.275rem; }
.form-group-join { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-weight: 400; }
.form-group-signed button { font-size: 0.75rem; font-weight: 400; }
.form-group-join > input { font-size: 0.85rem; width: 200px; height: 35px; }
.form-label { font-size: .775rem; font-weight: 400; margin-bottom: 0 !important; }
.btn-duplicate-id { width: 90px; height: 35px; font-size: .75rem; }
.btn-check-email { width: 90px; height: 35px; font-size: .75rem; }
.btn-check-email-verify { width: 90px; height: 35px; font-size: .75rem; }

#imgCheckId { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, -1045%); -ms-transform: translate(420%, -1045%); transform: translate(420%, -1045%); width: 16px; height: 16px; }
#imgCancelId { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, -1045%); -ms-transform: translate(420%, -1045%); transform: translate(420%, -1045%); width: 16px; height: 16px; }
#imgCheckPwd { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, -565%); -ms-transform: translate(420%, -565%); transform: translate(420%, -565%); width: 16px; height: 16px; }
#imgCancelPwd { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, -565%); -ms-transform: translate(420%, -565%); transform: translate(420%, -565%); width: 16px; height: 16px; }
#imgCheckConfirm { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, -80%); -ms-transform: translate(420%, -80%); transform: translate(420%, -80%); width: 16px; height: 16px; }
#imgCancelConfirm { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, -80%); -ms-transform: translate(420%, -80%); transform: translate(420%, -80%); width: 16px; height: 16px; }
#imgCheckName { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, 395%); -ms-transform: translate(420%, 395%); transform: translate(420%, 395%); width: 16px; height: 16px; }
#imgCancelName { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, 395%); -ms-transform: translate(420%, 395%); transform: translate(420%, 395%); width: 16px; height: 16px; }
#imgCheckEmail { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, 875%); -ms-transform: translate(420%, 875%); transform: translate(420%, 875%); width: 16px; height: 16px; }
#imgCancelEmail { display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(420%, 875%); -ms-transform: translate(420%, 875%); transform: translate(420%, 875%); width: 16px; height: 16px; }

#check-email-time { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(150%, 1050%); -ms-transform: translate(150%, 1050%); transform: translate(150%, 1050%); color: rgba(0, 0, 0, 0.6); font-size: 0.85rem; font-weight: 400; }

#checkUserId { font-size: .75rem; font-weight: 300; color: #808080; }
#checkUserPwd { font-size: .75rem; font-weight: 300; color: #808080; }
#checkUserPwdConfirm  { font-size: .75rem; font-weight: 300; color: white; }
#checkUserNickname { font-size: .75rem; font-weight: 300; color: #808080; }
#checkUserEmail { font-size: .75rem; font-weight: 300; color: white; }

/* MEDIA */
@media (max-width: 1023px) {
	.header-nav { max-width: 60rem; }
}

@media (min-width: 992px) {
	.header-mobile { display: none; }
}

@media (max-width: 992px) {
	.header { display: none; }
}

@media (max-width: 650px) {
	.header-mobile-nav { max-width: 30rem; }
	.navbar-brand-mobile { display: none; }
}

@media (max-width: 650px) {
	.header-mobile-nav { max-width: 28rem; }
}