
/* POPUP BUTTON */
/*
.openPopupMenu { position: fixed; right: .85rem; bottom: .85rem; }
.openPopupMenu img { width: 3rem; height: 3rem; }
.openPopupMenu img:hover { width: 3.5rem; height: 3.5rem; transition: all 1s; cursor: pointer; }
*/

/* MENU */
.popup__chat-room { text-align: center; }

/* MENU */
.background__menu { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.3); z-index: -1; opacity: 0; }
.show__menu { opacity: 1; z-index: 1000; transition: all 0.5s; }
.window__menu { position: relative; width: 100%; height: 100%; }
.popup__menu { position: absolute; top: 50%; left: 50%; background-color: rgba(255, 255, 255, 1.0); box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
	width: 95%; height: 95%; max-width: 500px; padding: 5px; border-radius: 1.25rem; transform: translate(-50%, -200%); }
.show__menu .popup__menu { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.close__menu { display:flex; justify-content: space-between; text-align: right; font-size: 20px; margin: 1rem 1.25rem 1rem 1.25rem; }
.close__menu img { width: 4rem; }

.popup-content__item { display: block; width: 100%; padding: .5rem 1rem; clear: both; font-weight: 400; text-align: inherit; white-space: nowrap;
	background-color: transparent; border: 0; cursor: pointer; }
.popup-content__item:hover { background-color: #E9ECEF; }
.popup__line { margin-top: .5rem; margin-bottom: .5rem; border-top: 1px solid #FFCECE; }

.popup__admin { bottom: 0; }

/* CHAT */
.background__chat { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.3); z-index: -1; opacity: 0; }
.show__chat { opacity: 1; z-index: 1000; transition: all 0.5s; }
.window__chat { position: relative; width: 100%; height: 100%; }
.popup__chat { position: absolute; top: 50%; left: 50%; background-color: rgba(255, 255, 255, 1.0); box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
	width: 95%; height: 95%; max-width: 500px; padding: 5px; border-radius: 1.25rem; transform: translate(-50%, -200%); }
.show__chat .popup__chat { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.close__chat { display:flex; justify-content: space-between; text-align: right; font-size: 20px; margin: 1rem 1.25rem 1rem 1.25rem; }
.close__chat img { width: 4rem; }
