
@media (min-width: 501px) {
	/* COMMON */
	.info-title { font-size: .875rem; font-weight: 400; }
	.info-contents { font-size: .875rem; font-weight: 400; }
	
	/* ASIDE */
	.aside { display: flex; min-height: 100%; padding-top: 1.5rem; }
	.aside-title { font-size: 1.125rem; font-weight: 500; }
	.aside-title1 { padding-left: 1rem; color: blue; font-size: .825rem; font-weight: 400; }
	.aside aside { width: 30%; padding-right: 4rem; border-right: 1px solid hsla(220,9%,46%,.3); }
	.aside-subtitle { display: grid; padding-top: 2rem; padding-bottom: 2rem; }
	.aside-subtitle a { padding: .5rem; }
	.aside-subtitle1 { display: inline-flex; align-items: center; font-size: 1rem; }
	.aside-subtitle1 span { margin-left: .25rem; font-weight: 400; }
	.aside-subtitle1:hover, .aside-subtitle2:hover { background: hsla(220,9%,46%,.25); border-radius: .5rem; }
	.aside-subtitle2 { display: inline-flex; align-items: center; margin-top: .5rem; font-size: 1rem; }
	.aside-subtitle2 span { margin-left: .25rem; font-weight: 400; }
	
	/* PROFILE */
	.profile { width: 70%; }
	.profile-contents { display: flex; padding-top: 2rem; padding-bottom: 2rem; }
	.profile-contents1 { width: 60%; padding-right: 2rem; }
	.profile-contents1 label { font-weight: 300; }
	.profile-contents1 input { width: 100%; height: 2.75rem; font-weight: 300; border: 1px solid hsla(220,9%,46%,.3); border-radius: .5rem; padding: .5rem;}
	.profile-contents2 { width: 40%; padding-left: 2rem; padding-right: 2rem; text-align: right; }
	.profile-contents2 img { width: 10rem; height: 10rem; border: 1px solid hsla(220,9%,46%,.3); border-radius: 50%; }
	
	.profile-email { margin-top: 1rem; }
	.profile-check-email, .profile-check-verify { margin-left: .5rem; width: 6rem; height: 2.75rem; font-size: .75rem; }
	.profile-verify { display: flex; margin-top: .5rem; }
	.check-email-time { font-size: 1rem !important; transform: translate(300%, 55%) !important; }
	
	.profile-input { padding-left: 4rem; }
	.profile-line { border-top: 1px solid hsla(220,9%,46%,.3); }
	
	.profile-info { padding-top: 2rem; padding-bottom: 2rem; padding-left: 4rem; }
	
	.profile-save { padding-top: 2rem; text-align: right; }
	.profile-save button { width: 5rem; cursor: pointer; }
	
	/* ACCOUNT */
	.account { width: 70%; }
	.account-contents { display: flex; padding-top: 2rem; padding-bottom: 2rem; }
	.account-contents1 { width: 100%; padding-right: 2rem; }
	.account-contents1 label { font-weight: 300; }
	.account-contents1 input { width: 60%; height: 2.75rem; font-weight: 300; border: 1px solid hsla(220,9%,46%,.3); border-radius: .5rem; padding: .5rem;}
	
	.account-email { margin-top: 1rem; }
	.account-check-email, .account-check-verify { width: 8rem; height: 2.75rem; font-size: .875rem; }
	.account-verify { display: flex; justify-content: space-between; margin-top: .5rem; }
	.account-info { display: inline-flex; margin-top: 1rem; }
	.account-info span { margin-left: .25rem; }
	
	.account-input { padding-left: 4rem; }
	.account-line { border-top: 1px solid hsla(220,9%,46%,.3); }
	
	.account-withdraw { padding-top: 2rem; padding-bottom: 2rem; padding-left: 4rem; }
	
	.account-withdraw-btn { padding-top: 2rem; text-align: right; }
	.account-withdraw-btn button { width: 8rem; cursor: pointer; }
}

@media (max-width: 500px) {
	/* COMMON */
	.info-title { font-size: .875rem; font-weight: 400; }
	.info-contents { font-size: .875rem; font-weight: 400; }
	
	/* ASIDE */
	.aside { min-height: 100%; padding-top: 1.5rem; }
	.aside-title { display: grid; font-size: 1.25rem; font-weight: 500; }
	.aside-title1 { color: blue; font-size: .75rem; font-weight: 400; }
	.aside-subtitle { display: grid; padding-top: 1rem; padding-bottom: 1rem; }
	.aside-subtitle a { padding: .5rem; }
	.aside-subtitle1 { display: inline-flex; align-items: center; font-size: 1rem; }
	.aside-subtitle1 span { margin-left: .25rem; font-weight: 400; }
	.aside-subtitle1:hover, .aside-subtitle2:hover { background: hsla(220,9%,46%,.25); border-radius: .5rem; }
	.aside-subtitle2 { display: inline-flex; align-items: center; font-size: 1rem; }
	.aside-subtitle2 span { margin-left: .25rem; font-weight: 400; }
	
	/* PROFILE */
	.profile-contents { padding-top: 2rem; padding-bottom: 2rem; }
	.profile-contents1 label { font-weight: 300; }
	.profile-contents1 input { width: 100%; height: 2.75rem; font-weight: 300; border: 1px solid hsla(220,9%,46%,.3); border-radius: .5rem; padding: .5rem;}
	.profile-contents2 { padding-top: 2rem; text-align: center; }
	.profile-contents2 img { width: 5rem; height: 5rem; border: 1px solid hsla(220,9%,46%,.3); border-radius: 50%; }
	
	.profile-email { margin-top: 1rem; }
	.profile-check-email, .profile-check-verify { margin-left: .5rem; width: 8rem; height: 2.75rem; font-size: .75rem; }
	.profile-verify { display: flex; margin-top: .5rem; }
	.check-email-time { font-size: 1rem !important; transform: translate(100%, 155%) !important; }
	
	.profile-input { border-top: 1px solid hsla(220,9%,46%,.3); padding-top: 2rem; }
	.profile-line { border-top: 1px solid hsla(220,9%,46%,.3); }
	
	.profile-info { padding-top: 2rem; padding-bottom: 2rem; }
	
	.profile-save { padding-top: 2rem; padding-bottom: 7rem; text-align: right; }
	.profile-save button { width: 5rem; cursor: pointer; }
	
	/* ACCOUNT */
	.account-contents { padding-top: 2rem; padding-bottom: 2rem; }
	.account-contents1 label { font-weight: 300; }
	.account-contents1 input { width: 100%; height: 2.75rem; font-weight: 300; border: 1px solid hsla(220,9%,46%,.3); border-radius: .5rem; padding: .5rem;}
	.account-contents2 { padding-top: 2rem; text-align: center; }
	.account-contents2 img { width: 5rem; height: 5rem; border: 1px solid hsla(220,9%,46%,.3); border-radius: 50%; }
	
	.account-check-email, .account-check-verify { margin-left: .5rem; width: 8rem; height: 2.75rem; font-size: .75rem; }
	.account-verify { display: flex; margin-top: .5rem; }
	.account-info { display: inline-flex; margin-top: 1rem; }
	.account-info span { margin-left: .25rem; font-size: .875rem !important; }
	
	.account-input { border-top: 1px solid hsla(220,9%,46%,.3); padding-top: 2rem; }
	.account-line { border-top: 1px solid hsla(220,9%,46%,.3); }
	
	.account-withdraw { padding-top: 2rem; padding-bottom: 2rem; }
	
	.account-withdraw-btn { padding-top: 2rem; text-align: right; }
	.account-withdraw-btn button { width: 8rem; cursor: pointer; }
}

