
/* SETTINGS */
.aside { display: flex; min-height: 100%; padding-top: 1.5rem; }
.aside-title { font-size: 1.125rem; font-weight: 500; }
.aside aside { width: 30%; padding-right: 4rem; border-right: 1px solid hsla(220,9%,46%,.3); }
.aside-subtitle { display: grid; padding-top: 2rem; padding-bottom: 2rem; }
.aside-subtitle a { padding: .5rem; }
.aside-subtitle1 { font-size: 1rem; }
.aside-subtitle1 span { font-weight: 400; }
.aside-subtitle1:hover, .aside-subtitle2:hover { background: hsla(220,9%,46%,.25); border-radius: .5rem; }
.aside-subtitle2 { margin-top: .5rem; font-size: 1rem; }
.aside-subtitle2 span { font-weight: 400; }

.settings { width: 70%; }
.settings-contents { display: flex; padding-top: 2rem; padding-bottom: 2rem; }
.settings-contents1 { width: 60%; padding-right: 2rem; }
.settings-contents1 label { font-weight: 300; }
.settings-contents1 input { width: 100%; font-weight: 300; border: 1px solid hsla(220,9%,46%,.3); border-radius: .5rem; padding: .5rem; }
.settings-contents2 { width: 40%; padding-left: 2rem; padding-right: 2rem; text-align: right; }
.settings-contents2 img { width: 10rem; height: 10rem; border: 1px solid hsla(220,9%,46%,.3); border-radius: 50%; }

.settings-input { padding-left: 4rem; }
.settings-line { border-top: 1px solid hsla(220,9%,46%,.3); }

.settings-info { padding-top: 2rem; padding-bottom: 2rem; padding-left: 4rem; }
.info-title { font-size: .875rem; font-weight: 400; }
.info-contents { font-size: .875rem; font-weight: 400; }

.settings-save { padding-top: 2rem; text-align: right; }
.settings-save button { width: 5rem; }