<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>OYEZ - All That Community</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- SETTINGS -->
	<link rel="stylesheet" th:href="@{/css/app/settings.css}" />
</th:block>

</head>
<body>
	
	<!-- USER_ACCOUNT : CONTENT -->
	<main layout:fragment="content" class="container">
		<div class="aside">
			<aside>
				<span class="aside-title">내 계정</span>
				<nav class="aside-subtitle">
					<a th:onclick="goProfile([[ ${userId} ]]);" class="aside-subtitle1">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 dark:text-gray-400 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200"><path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
						<span>회원 정보</span>
					</a>
					<a th:onclick="goAccount([[ ${userId} ]]);" class="aside-subtitle2" style="background: hsla(220,9%,46%,.25); border-radius: .5rem;">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class=" text-gray-400 dark:text-gray-600 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"></path></svg>
						<span>계정</span>
					</a>
				</nav>
			</aside>
			
			<!-- account -->
			<div id="settings-account" class="account">
				<div class="account-input">
					<span class="aside-title">
						계정 인증<span class="aside-title1">* OYEZ의 모든 콘텐츠를 이용하시려면 이메일 인증이 필요합니다.</span>
					</span>
					<div class="account-contents">
						<div class="account-contents1">
							<input type="hidden" id="userId" name="userId" th:value="${userId}">
							<label class="account-email">이메일</label>
							<div style="display: flex; justify-content: space-between;">
								<input id="userEmail" name="userEmail" th:value="${userEmail}" disabled="disabled">
								<button sec:authorize="hasRole('ROLE_GUEST')" type="button" id="check-email" class="btn btn-primary account-check-email" th:onclick="certifiedEmail([[ ${userId} ]]);">이메일 인증</button>
								<button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" type="button" id="check-email" class="btn btn-primary account-check-email" disabled="disabled">인증완료</button>
							</div>
							<div class="account-info">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="inline-block h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path></svg>
								<span>계정에 등록된 이메일로 최초 1회 인증을 완료하시면 모든 콘텐츠를 이용하실 수 있습니다.<br>다른 이메일로 인증을 원하시면 회원정보에서 변경 후 이용해주세요.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="account-line"></div>
				<div class="account-withdraw">
					<span class="aside-title">계정 삭제</span>
					<div class="account-withdraw-btn">
						<button class="btn btn-primary">회원탈퇴</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<!-- USER_ACCOUNT : SCRIPT -->
	<th:block layout:fragment="script">
		<!-- SETTINGS -->
		<script th:inline="javascript">
			var certifiedEmail_uri = [[ @{/} + ${userId} + @{/account} ]];
		</script>
		<!-- USER -->
		<script type="text/javascript" src="/js/app/user/account.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
	</th:block>
	
</body>
</html>