<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>toy, 회원가입</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- FIND -->
	<link rel="stylesheet" th:href="@{/css/app/find.css}" />
</th:block>

</head>
<body>
	
	<div layout:fragment="content">
		<div class="form-join">
				<div class="mb-3">
					<div class="form-group-join">
						<label class="form-label"><span class="text-danger">* </span>아이디</label>
						<input type="text" id="userId" name="userId" class="form-control required">
						<button type="button" id="duplicateUserId" class="btn btn-primary btn-duplicate-id" style="float: right;">중복확인</button>
						<span id="checkUserId">아이디는 4~20자 사이의 영문, 숫자로 이루어져야 합니다.</span>
						<img src="/img/app/join/check.png" id="imgCheckId" class="img-check-id">
						<img src="/img/app/join/cancel.png" id="imgCancelId" class="img-cancel-id">
					</div>
				</div>
				<div class="mb-3">
					<div class="form-group-join">
						<label class="form-label"><span class="text-danger">* </span>비밀번호</label>
						<input type="password" id="userPwd" name="userPwd" class="form-control required">
						<span id="checkUserPwd">비밀번호는 8~16자 사이의 대/소문자, 숫자, 특수문자가 모두 포함되어야 합니다.</span>
						<img src="/img/app/join/check.png" id="imgCheckPwd" class="img-check-pwd">
						<img src="/img/app/join/cancel.png" id="imgCancelPwd" class="img-cancel-pwd">
					</div>
				</div>
				<div class="mb-3">
					<div class="form-group-join">
						<label class="form-label"><span class="text-danger">* </span>비밀번호 확인</label>
						<input type="password" id="userPwdConfirm" name="userPwdConfirm" class="form-control required">
						<span id="checkUserPwdConfirm">입력한 비밀번호가 일치하지 않습니다.</span>
						<img src="/img/app/join/check.png" id="imgCheckConfirm" class="img-check-confirm">
						<img src="/img/app/join/cancel.png" id="imgCancelConfirm" class="img-cancel-confirm">
					</div>
				</div>
				<div class="mb-3">
					<div class="form-group-join">
						<label class="form-label"><span class="text-danger">* </span>닉네임</label>
						<input type="text" id="userNickname" name="userNickname" class="form-control required">
						<span id="checkUserNickname">닉네임은 2~10자 사이의 한글, 영문, 숫자로 이루어져야 합니다.</span>
						<img src="/img/app/join/check.png" id="imgCheckName" class="img-check-name">
						<img src="/img/app/join/cancel.png" id="imgCancelName" class="img-cancel-name">
					</div>
				</div>
				<div class="mb-3">
					<div class="form-group-join">
						<label class="form-label"><span class="text-danger">* </span>이메일</label>
						<input type="text" id="userEmail" name="userEmail" class="form-control required">
						<span id="checkUserEmail">올바르지 않은 이메일 형식입니다.</span>
						<img src="/img/app/join/check.png" id="imgCheckEmail" class="img-check-email">
						<img src="/img/app/join/cancel.png" id="imgCancelEmail" class="img-cancel-email">
						<button type="button" id="check-email" class="btn btn-primary btn-check-email" disabled="disabled">이메일 인증</button>
					</div>
				</div>
				<div class="mb-3">
					<div class="form-group-join">
						<label class="form-label"><span class="text-danger">* </span>인증번호</label>
						<input type="text" id="check-email-number" class="form-control required" placeholder="인증번호를 입력해주세요." disabled="disabled">
						<div id="check-email-time"></div>
						<button type="button" id="check-email-verify" class="btn btn-primary btn-check-email-verify" disabled="disabled">인증확인</button>
					</div>
				</div>
				<div class="mb-3">
					<div class="form-group-signed">
						<button type="button" class="btn btn-secondary" onclick="goHome();">취소</button>
						<button type="submit" id="joinSubmit" class="btn btn-secondary" disabled="disabled">회원가입</button>
					</div>
				</div>
		</div>
	</div>
	
	<th:block layout:fragment="script">
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<!-- JOIN -->
		<script type="text/javascript" src="/js/app/join.js"></script>
		<script type="text/javascript">
			function goHome() {
				window.location.href="/";
			}
		</script>
	</th:block>
	
</body>
</html>