<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>OYEZ - All That Community</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- SETTINGS -->
	<link rel="stylesheet" th:href="@{/css/app/settings.css}" />
</th:block>

</head>
<body>
	
	<main layout:fragment="content" class="container">
		<div class="aside">
			<aside>
				<span class="aside-title">내 계정</span>
				<nav class="aside-subtitle">
					<a th:onclick="goProfile([[ ${userId} ]]);" class="aside-subtitle1" style="background: hsla(220,9%,46%,.25); border-radius: .5rem;">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 dark:text-gray-400 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200"><path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
						<span>회원정보</span>
					</a>
					<a th:onclick="goAccount([[ ${userId} ]]);" class="aside-subtitle2">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class=" text-gray-400 dark:text-gray-600 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"></path></svg>
						<span>계정</span>
					</a>
				</nav>
			</aside>
			
			<!-- profile -->
			<div id="settings-profile" class="profile">
				<div class="profile-input">
					<span class="aside-title">
						회원 정보<span class="aside-title1">* 회원정보를 변경하려면 이메일 인증이 필요합니다.</span>
					</span>
					<div class="profile-contents">
						<div class="profile-contents1">
							<input type="hidden" id="userId" name="userId" th:value="${userId}">
							<input type="hidden" id="provider" name="provider" th:value="${provider}">
							<label class="profile-nickname">닉네임</label>
							<div>
								<input id="userNickname" name="userNickname" th:value="${userNickname}">
							</div>
							<label class="profile-email">이메일</label>
							<div style="display: flex;">
								<input id="userEmail" name="userEmail" th:value="${userEmail}" th:if="${provider == 'general'}">
								<input id="userEmail" name="userEmail" th:value="${userEmail}" th:if="${provider != 'general'}" disabled="disabled">
								<button type="button" id="check-email" class="btn btn-primary profile-check-email">이메일 인증</button>
							</div>
							<div id="profile-verify" class="profile-verify">
								<input type="text" id="check-email-number" class="form-control required" placeholder="인증번호를 입력해주세요." disabled="disabled">
								<button type="button" id="check-email-verify" class="btn btn-primary profile-check-verify" disabled="disabled">인증확인</button>
								<div id="check-email-time" class="check-email-time"></div>
							</div>
						</div>
						<div class="profile-contents2">
							<img src="">
						</div>
					</div>
				</div>
				<div class="profile-line"></div>
				<div class="profile-info">
					<div>
						<span class="aside-title">이메일 수신동의</span>
						<div>
							<span class="info-contents">OYEZ에서 주최하는 다양한 이벤트, 정보성 뉴스레터 및 광고 수신여부를 설정할 수 있습니다.</span>
						</div>
					</div>
					<br>
					<div>
						<span class="info-title">뉴스레터 및 마케팅 메일 수신</span>
						<div>
							<span class="info-contents">유저가 만드는 다양한 컨텐츠를 뉴스레터로 받습니다.</span>
						</div>
					</div>
				</div>
				<div class="profile-line"></div>
				<div class="profile-save">
					<button id="saveProfile" class="btn btn-primary" th:onclick="updateProfile([[ ${userId} ]]);" disabled="disabled">저장</button>
				</div>
			</div>
		</div>
	</main>
	
	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script type="text/javascript" src="/js/lib/fontawesome.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<!-- SWEETALERT2 -->
		<script type="text/javascript" src="/js/lib/sweetalert2.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
		<!-- POPUP -->
		<script type="text/javascript" src="/js/lib/sockjs.min.js"></script>
		<script type="text/javascript" src="/js/lib/stomp.min.js"></script>
		<script type="text/javascript" src="/js/app/popup.js"></script>
		<!-- SETTINGS -->
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			function updateProfile(userId) {
				const nickname = document.getElementById('userNickname').value;
				const checkUserNickname = document.getElementById('checkUserNickname');
				const exp = /^(?=.*[a-z0-9가-힣])[a-z0-9가-힣]{2,10}$/;
				
				if(!nickname.match(exp)) {
					swal.fire({
						text: '닉네임은 2~10자 사이의 한글, 영문, 숫자로 이루어져야 합니다.',
						icon: 'warning',
						confirmButtonColor: '#3085d6',
						confirmButtonText: '확인'
					});
			    } else if(nickname.match(exp)) {
					$.ajax({
						url : "/check/nickname",
						type : "POST",
						dataType : "json",
						data : { "userNickname" : $("#userNickname").val() },
						success : function(data) {
							if($("#userNickname").val() == [[ ${userNickname} ]]) {
								swal.fire({
									title: '회원정보를 변경할까요?',
									text: '하루에 1번만 변경 가능합니다.',
									icon: 'warning',
									showCancelButton: true,
									confirmButtonColor: '#3085d6',
									confirmButtonText: '확인',
									cancelButtonColor: '#d33',
									cancelButtonText: '취소'
								}).then((result) => {
									if(result.isConfirmed) {
										var userNickname = document.getElementById("userNickname");
										var userEmail = document.getElementById("userEmail");
										
										var uri = [[ @{/} + ${userId} + @{/profile} ]];
										var params = { "userNickname": userNickname.value, "userEmail": userEmail.value };
										
										$.ajax({
											url: uri,
											type: "PUT",
											dataType: "json",
											data: params,
											success: function(response) {
												if(response.result == false) {
													swal.fire({
														text: '내 정보 변경에 실패했습니다.',
														icon: 'warning',
														confirmButtonColor: '#3085d6',
														confirmButtonText: '확인'
													});
													return false;
												} else if(response.result == 'exceedCount') {
													swal.fire({
														text: response.message,
														icon: 'warning',
														confirmButtonColor: '#3085d6',
														confirmButtonText: '확인'
													});
													return false;
												}
												swal.fire({
													text: '내 정보 변경을 완료했습니다.',
													icon: 'success',
													confirmButtonColor: '#3085d6',
													confirmButtonText: '확인'
												});
											},
											error: function(response) {
												swal.fire({
													text: '잠시 후 재시도 바랍니다.',
													footer: '서버와의 통신 에러입니다.',
													icon: 'error',
													confirmButtonColor: '#3085d6',
													confirmButtonText: '확인'
												});
												return false;
											}
										});
									}
								});
							} else {
								if($("#userNickname").val() == data.userNickname) {
									swal.fire({
										text: '이미 사용중인 닉네임입니다.',
										icon: 'warning',
										confirmButtonColor: '#3085d6',
										confirmButtonText: '확인'
									});
								} else {
									swal.fire({
										title: '회원정보를 변경할까요?',
										text: '하루에 1번만 변경 가능합니다.',
										icon: 'warning',
										showCancelButton: true,
										confirmButtonColor: '#3085d6',
										confirmButtonText: '확인',
										cancelButtonColor: '#d33',
										cancelButtonText: '취소'
									}).then((result) => {
										if(result.isConfirmed) {
											var userNickname = document.getElementById("userNickname");
											var userEmail = document.getElementById("userEmail");
											
											var uri = [[ @{/} + ${userId} + @{/profile} ]];
											var params = { "userNickname": userNickname.value, "userEmail": userEmail.value };
											
											$.ajax({
												url: uri,
												type: "PUT",
												dataType: "json",
												data: params,
												success: function(response) {
													if(response.result == false) {
														swal.fire({
															text: '내 정보 변경에 실패했습니다.',
															icon: 'warning',
															confirmButtonColor: '#3085d6',
															confirmButtonText: '확인'
														});
														return false;
													} else if(response.result == 'exceedCount') {
														swal.fire({
															text: response.message,
															icon: 'warning',
															confirmButtonColor: '#3085d6',
															confirmButtonText: '확인'
														});
														return false;
													}
													swal.fire({
														text: '내 정보 변경을 완료했습니다.',
														icon: 'success',
														confirmButtonColor: '#3085d6',
														confirmButtonText: '확인'
													});
												},
												error: function(response) {
													swal.fire({
														text: '잠시 후 재시도 바랍니다.',
														footer: '서버와의 통신 에러입니다.',
														icon: 'error',
														confirmButtonColor: '#3085d6',
														confirmButtonText: '확인'
													});
													return false;
												}
											});
										}
									});
								}
							}
					    },
						error: function(data) {
							swal.fire({
								text: '잠시 후 재시도 바랍니다.',
								footer: '서버와의 통신 에러입니다.',
								icon: 'error',
								confirmButtonColor: '#3085d6',
								confirmButtonText: '확인'
							});
						}
					});
				}
			}
			
			const verify = document.getElementById('profile-verify');
			verify.style.display = 'none';
			
			// 내 계정 이메일 검증
			$(function() {
				var display = $("#check-email-time");
				var isCertification = false;
				var key = "";
				var timer = null;
				var isRunning = false;
				
				// 이메일 인증 버튼
				$('#check-email').click(function() {
					const email = document.getElementById('userEmail').value;
					const checkUserEmail = document.getElementById('checkUserEmail');
					const exp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
					
					if(!email.match(exp)) {
						swal.fire({
							text: '올바르지 않은 이메일 형식입니다.',
							icon: 'warning',
							confirmButtonColor: '#3085d6',
							confirmButtonText: '확인'
						});
				    	$('#check-email').prop('disabled', false);
				    } else if(email.match(exp)) {
				    	$.ajax({
							url : "/check/email",
							type : "POST",
							dataType : "json",
							data : { "userEmail" : $("#userEmail").val() },
							success : function(data) {
								if($("#userEmail").val() == [[ ${userEmail} ]]) {
									verify.style.display = 'flex';
						        	
						        	$.ajax({
										type : 'post',
										url : '/check/mail',
										data : { "userEmail" : $("#userEmail").val() },
										success : function(data) {
											isCertification = true;
											var leftSec = 180;
											if(isRunning) {
												clearInterval(timer);
												display.html("");
												startTimer(leftSec, display);
											} else {
												startTimer(leftSec, display);
											}
											$('#check-email-number').prop('disabled', false);
											$('#check-email-verify').prop('disabled', false);
											$('#check-email').prop('disabled', true);
											code = data;
											swal.fire({
												text: '인증번호가 전송되었습니다.',
												icon: 'success',
												confirmButtonColor: '#3085d6',
												confirmButtonText: '확인'
											});
										},
										error: function(data) {
											swal.fire({
												text: '잠시 후 재시도 바랍니다.',
												footer: '서버와의 통신 에러입니다.',
												icon: 'error',
												confirmButtonColor: '#3085d6',
												confirmButtonText: '확인'
											});
										}
									});
								} else {
									if($("#userEmail").val() == data.userEmail) {
										swal.fire({
											text: '이미 사용중인 이메일입니다.',
											icon: 'warning',
											confirmButtonColor: '#3085d6',
											confirmButtonText: '확인'
										});
									} else {
										verify.style.display = 'flex';
							        	
							        	$.ajax({
											type : 'post',
											url : '/check/mail',
											data : { "userEmail" : $("#userEmail").val() },
											success : function(data) {
												isCertification = true;
												var leftSec = 180;
												if(isRunning) {
													clearInterval(timer);
													display.html("");
													startTimer(leftSec, display);
												} else {
													startTimer(leftSec, display);
												}
												$('#check-email-number').prop('disabled', false);
												$('#check-email-verify').prop('disabled', false);
												$('#check-email').prop('disabled', true);
												code = data;
												swal.fire({
													text: '인증번호가 전송되었습니다.',
													icon: 'success',
													confirmButtonColor: '#3085d6',
													confirmButtonText: '확인'
												});
											},
											error: function(data) {
												swal.fire({
													text: '잠시 후 재시도 바랍니다.',
													footer: '서버와의 통신 에러입니다.',
													icon: 'error',
													confirmButtonColor: '#3085d6',
													confirmButtonText: '확인'
												});
											}
										});
									}
								}
						    },
							error: function(data) {
								swal.fire({
									text: '잠시 후 재시도 바랍니다.',
									footer: '서버와의 통신 에러입니다.',
									icon: 'error',
									confirmButtonColor: '#3085d6',
									confirmButtonText: '확인'
								});
							}
						});
				    }
				});
				
				function startTimer(count, display) {
					var minutes, seconds;
					timer = setInterval(function() {
						minutes = parseInt(count / 60, 10);
						seconds = parseInt(count % 60, 10);
						
						minutes = minutes < 10 ? "0" + minutes : minutes;
						seconds = seconds < 10 ? "0" + seconds : seconds;
						
						display.html(minutes + ":" + seconds);
						
						// 타이머 끝
						if(--count < 0) {
							clearInterval(timer);
							$('#check-email-number').prop('disabled', true);
							$('#check-email-verify').prop('disabled', true);
							$('#check-email').prop('disabled', false);
							isRunning = false;
						}
					}, 1000);
					isRunning = true;
				}
				
				// 인증 확인 버튼
				$('#check-email-verify').click(function() {
					$.ajax({
						type : 'post',
						url : '/check/verifyCode',
						data : { "code" : $("#check-email-number").val() },
						success : function(result) {
							if(result == 1) {
								isCertification = true;
								clearInterval(timer);
								$('#userEmail').prop('disabled', true);
								$('#check-email').prop('disabled', true);
								$('#saveProfile').prop('disabled', false);
								$('#check-email-number').prop('disabled', true);
								$('#check-email-verify').prop('disabled', true);
								swal.fire({
									text: '정상 인증되었습니다.',
									icon: 'success',
									confirmButtonColor: '#3085d6',
									confirmButtonText: '확인'
								});
							} else {
								isCertification = false;
								swal.fire({
									text: '인증번호를 정확하게 입력하세요.',
									icon: 'warning',
									confirmButtonColor: '#3085d6',
									confirmButtonText: '확인'
								});
							}
						},
						error: function(result) {
							swal.fire({
								text: '잠시 후 재시도 바랍니다.',
								footer: '서버와의 통신 에러입니다.',
								icon: 'error',
								confirmButtonColor: '#3085d6',
								confirmButtonText: '확인'
							});
						}
					});
				});
			});
			
			function goProfile(userId) {
				location.href = '/' + `${userId}` + '/profile';
			}
			
			function goAccount(userId) {
				location.href = '/' + `${userId}` + '/account';
			}
			
		/*]]>*/
		</script>
	</th:block>
	
</body>
</html>