<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="chat">
	<div id="popup__background" class="background__chat">
		<div class="window">
		
			<div class="popup__chat">
				<div class="close__chat">
					<a class="" th:href="@{/}"><img src="/img/app/common/logo.png"></a>
					<button id="close__chat" class="btn-close" onclick="close__chat();"></button>
				</div>
	   		
				<!-- MENU : Chat -->
		   		<div id="popup__chat-room" class="popup__chat-room">
			   		<!-- Chat Room Create -->
					<div id="chat__create">
				        <input type="text" id="roomName" name="name" class="form-control">
				        <button class="btn btn-secondary active" id="createChatRoom">채팅방 개설</button>
				        <button class="btn btn-secondary active" id="listChatRoom">채팅방 목록</button>
				    </div>
				    
				    <!-- Chat Room List -->
					<div id="chat__room" class="chat__room">
		            	<span th:if="${roomList == null}">채팅방이 없어요 !</span>
			            <ul th:unless="${roomList == null}" th:each="roomList : ${roomList}">
			                <li><a th:href="@{/chat/room(roomId=${roomList.roomId})}">[[${roomList.name}]]</a></li>
			            </ul>
				    </div>
			    </div>
		    </div>
		    
		    <div><div></div></div>
		</div>
	</div>
</div>