<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="footer">
	<!-- POPUP -->
	<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="openPopup">
		<img src="/img/app/chat/chat.png" id="show" onclick="openPopup();">
	</div>
	
	<div class="background">
		<div class="window">
	   		
			<div class="popup">
				<div class="close">
					<button id="close" class="btn-close" onclick="close();"></button>
				</div>
	   			
	   			<!-- MENU -->
	   			<div id="menu" class="menu">
	   				<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
	   					<button class="btn btn-secondary active" onclick="menuChat();">채팅방</button>
	   				</div><br>
		   			<div sec:authorize="hasRole('ROLE_ADMIN')">
		   				<a href="/admin" class="btn btn-secondary active">관리자</a>
		   			</div> 
		   		</div>
		   		
		   		<!-- MENU : Chat -->
		   		<div id="menuChat" class="menuChat">
			   		<!-- Chat Room -->
					<div id="chatFirst">
						<button class="btn btn-secondary active" onclick="chatCreate();">채팅방 개설</button>
						<button class="btn btn-secondary active" onclick="chatList();">개설된 채팅방</button>
					</div>
					
					<!-- Chat Room Create -->
					<div id="chatSecond">
					        <input type="text" id="roomName" name="name" class="form-control">
					        <button class="btn btn-secondary active" id="createChatRoom">개설하기</button>
				    </div>
				    
				    <!-- Chat Room List -->
					<div id="chatThird">
		            	<span th:if="${list == null}">채팅방이 없어요 !</span>
			            <ul th:each="room : ${list}">
			                <li><a th:href="@{/chat/room(roomId=${room.roomId})}">[[${room.name}]]</a></li>
			            </ul>
				    </div>
			    </div>
			    
	   		</div>
	   		
	    	<div><div></div></div>
		</div>
	</div>
</div>