<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="menu">
	<div id="popup__background" class="background__menu">
		<div class="window">
	   		
			<div class="popup__menu">
				<div class="close__menu">
					<a class="" th:href="@{/}"><img src="/img/app/common/logo.png"></a>
					<button id="close__menu" class="btn-close" onclick="close__menu();"></button>
				</div>
	   			
	   			<!-- USER Content -->
	   			<div>
	   				<a class="popup-content__item" th:href="@{/rank}">&#x1F947 활동 순위</a>
	   			</div>
	   			<div class="popup__line"></div>
	   			
	   			<div>
					<a class="popup-content__item" th:href="@{/community}">&#x1F440 커뮤니티</a>
					<a class="popup-content__item" th:href="@{/review}">&#x270D 리뷰</a>
					<a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')" class="popup-content__item" th:href="@{/chat/gpt}">&#x1F4BB CHAT GPT</a>
					<a sec:authorize="isAuthenticated()" class="popup-content__item" th:onclick="goProfile([[ ${userId} ]]);">&#x1F510 마이페이지</a>
				</div>
				<div class="popup__line"></div>
				
				<!-- Login Content -->
				<div sec:authorize="isAuthenticated()">
					<a class="popup-content__item" th:href="@{/logout}">&#x1F319 로그아웃</a>
				</div>
			    
			    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')" class="popup__admin">
					<a class="popup-content__item" th:href="@{/admin}">관리자</a>
					<a class="popup-content__item" th:href="@{/points/goods}">도장</a>
				</div>
					
	   		</div>
	   		
	    	<div><div></div></div>
		</div>
	</div>
</div>