<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ - ERROR</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
</th:block>

</head>

<body>
	
	<main layout:fragment="content" class="container">
		<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 550px; text-align: center;">
			<img src="/img/app/common/logo.png" style="width: 60px; margin-bottom: 5rem;">
			<p style="font-size: 1.125rem; font-weight: 600;">
				503 ERROR
			</p>
			<p style="font-size: 1.125rem; font-weight: 600;">
				서비스 점검 중 입니다.
			</p>
			<p style="font-size: 1.125rem; font-weight: 600; text-decoration: underline; color: black;">
				<a href="javascript:history.go(-1)">이전 페이지로 돌아가기</a>
			</p>
		</div>
	</main>
	
</body>

</html>