<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">

<div sec:authorize="isAuthenticated()" class="header">
	<nav class="nav flex-column">
		<a class="nav-link active" aria-current="page" href="#">1</a>
		<a class="nav-link" href="#">2</a>
		<a class="nav-link" href="#">3</a>
		<a class="nav-link" href="/logout" >로그아웃<br>(<span id="user" th:text="${user}"></span>)</a>
	</nav>
</div>

</header>