<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ - All That Community</title>

<th:block layout:fragment="css">
	<!-- RESET, DEFAULT -->
	<link rel="stylesheet" th:href="@{/css/app/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/app/index.css}" />
	<link rel="stylesheet" th:href="@{/css/app/default.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- FIND -->
	<link rel="stylesheet" th:href="@{/css/app/find.css}" />
</th:block>

</head>

<body>
	
	<!-- CONTENT -->
	<main layout:fragment="content" class="form-index">
	
		<div class="index-brand">
			<a th:href="@{/}"><img src="/img/app/common/logo.png"></a>
		</div>
		<div sec:authorize="isAnonymous()" id="form-index-one">
			<div class="form-login-sns">
				<a href="/oauth2/authorization/kakao" style="text-align: center;"><img src="/img/app/login/kakao_login_medium_narrow.png" class="login-kakao"></a><br>
				<a href="/oauth2/authorization/google"><img src="/img/app/login/btn_google_signin_light_normal_web.png" class="login-google"></a><br>
				<button type="button" id="others-login" class="btn btn-secondary others-login">다른 방법으로 로그인</button>
			</div>
		</div>
		
		<div sec:authorize="isAnonymous()" id="form-index-two">
			<div class="mb-3 form-group">
				<input type="text" id="userId" name="userId" class="form-control required" placeholder="아이디">
			</div>
			<div class="form-group">
				<input type="password" id="userPwd" name="userPwd" class="form-control required" placeholder="비밀번호">
			</div>
			<div class="form-forgot">
				<button type="button" id="find-show" class="find-user" onclick="findOpenPopup();">아이디/비밀번호 찾기</button>
			</div>
			<div>
			</div>
			<div class="form-login-general">
				<button type="button" id="login-general" class="btn btn-primary login-general">로그인</button><br>
				<a th:href="@{/join}"><button type="button" class="btn btn-secondary login-join">회원가입</button></a>
			</div>
		</div>
		
	</main>
	
	<th:block layout:fragment="script">
		<!-- FONT AWESOME -->
		<script type="text/javascript" src="/js/lib/fontawesome.js"></script>
		<!-- Jquery, Bootstrap -->
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app/index.js"></script>
		<script type="text/javascript" src="/js/app/header.js"></script>
		<!-- SWEETALERT2 -->
		<script type="text/javascript" src="/js/lib/sweetalert2.js"></script>
		<!-- POPUP -->
		<script type="text/javascript" src="/js/lib/sockjs.min.js"></script>
		<script type="text/javascript" src="/js/lib/stomp.min.js"></script>
		<script type="text/javascript" src="/js/app/popup.js"></script>
		<!-- FIND -->
		<script type="text/javascript" src="/js/app/find.js"></script>
	</th:block>
	
</body>

</html>