<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Basic -->
<th:block th:fragment="style">
	<!-- Reset, Basic -->
	<link rel="stylesheet" href="/css/app/reset.css" />
	<link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/app/basic.css" />
</th:block>

<!-- Admin -->
<th:block th:fragment="css-admin">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />
</th:block>

<th:block th:fragment="js-admin">
	<!-- datatable -->
	<script type="text/javascript" src="/js/lib/datatable.js"></script>
	<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</th:block>

<!-- Join -->
<th:block th:fragment="js-join">
	<script type="text/javascript" src="/js/app/join.js"></script>
</th:block>

<!-- Chat -->
<th:block th:fragment="css-chat">
	<link rel="stylesheet" type="text/css" href="/css/app/chat.css" />
</th:block>



<th:block th:fragment="javascript">
	<!-- Jquery, Bootstrap -->
	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
</th:block>


</html>