<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout2}">

<head>
<meta charset="UTF-8">
<title>OYEZ - 랜덤박스</title>

<th:block layout:fragment="css">
	<!-- GAME - BOX -->
	<link rel="stylesheet" th:href="@{/css/app/box.css}" />
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- GOOGLE ICON -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</th:block>

</head>

<body>
	
	<!-- ADMIN_DETAIL : CONTENT -->
	<main layout:fragment="content" class="form__box">
		<div class="box__btn">
			<div class="flow-text">
				<span class="flow-wrap">LOGIN BONUS !&nbsp;&nbsp;LOGIN BONUS !</span>
			</div>
			<div style="margin-top: 1rem;">
				<button id="getRandomBox" style="margin-right: 1rem;">RANDOM<br>POINT</button>
				<button id="get100Box">100<br>POINT</button><br>
			</div>
			<div style="margin-top: 2rem;">
				<span>* 랜덤박스는 확률에 따라<br><span style="font-weight: 600;">100 ~ 1000 POINT</span> 가 적립됩니다.</span><br>
				<hr style="border: .5px solid #FFCECE; margin: 2rem 0 2rem 0;">
				<span style="font-size: .85rem;">
					1000 POINT (3%)<br>
					500 POINT (6%)<br>
					300 POINT (11%)<br>
					200 POINT (16%)<br>
					150 POINT (23%)<br>
					100 POINT (41%)
				</span>
			</div>
		</div>
		<div>
			<img id="getRoadingBox" src="/img/app/points/game/randomBox.gif" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; width: 450px; opacity: 0;">
		</div>
	</main>
	
	<!-- ADMIN_DETAIL : SCRIPT -->
	<th:block layout:fragment="script">
		<!-- SETTINGS -->
		<script th:inline="javascript">
			var userId = [[ ${userId} ]];
			var referer = [[ ${referer} ]];
		</script>
		<!-- POINTS - BOX -->
		<script type="text/javascript" src="/js/app/points/box.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
	</th:block>
	
	
</body>

</html>