<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ - 리뷰</title>

<th:block layout:fragment="css">
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- BOARD -->
	<link rel="stylesheet" th:href="@{/css/app/board/community/board.css}" />
	<link rel="stylesheet" th:href="@{/css/app/button.css}" />
	
	<link rel="stylesheet" th:href="@{/css/app/loading.css}" />
</th:block>

</head>

<body>
	
	<!-- REVIEW_LIST : CONTENT -->
	<main layout:fragment="content" class="container">
		<div class="page_tits">
		    <span class="write-name-a">리뷰</span><br>
		    <span class="list-name-b">다양한 사람들의 의견을 들어보고 내 의견도 함께 나눠요.</span>
		</div>
		
		<div class="content">
			<section>
				<!-- 검색 -->
				<div class="refresh_box">
					<div class="sch_group fl">
						<div class="list-search">
							<img class="list-refresh" src="/img/app/common/refresh.png" onclick="refreshBoard();">
							<div>
								<button type="button" class="search_box_btn community-btn" onclick="searchBox();"><i class="fas fa-search"></i><span class="skip_info">&nbsp;검색</span></button>
								<button type="button" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="search_box_btn write_box community-btn" onclick="writeBoard();"><i class="fas fa-pen"></i><span class="skip_info">&nbsp;작성</span></button>
							</div>
						</div>
					</div>
				</div>
				<div id="searchBox" class="search_box">
					<form id="searchForm" onsubmit="return false;" autocomplete="off">
						<div class="sch_group fl">
							<div>
								<select id="searchType" name="searchType" title="검색 유형 선택">
									<option value="">전체 검색</option>
									<option value="title">제목</option>
									<option value="content">내용</option>
									<option value="writer">작성자</option>
								</select>
								<input type="text" id="keyword" name="keyword" onkeyup="enterkey();" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
							</div>
						</div>
					</form>
				</div>
				
				<!-- 리스트 출력 -->
				<table class="tb tb_col">
					<tbody id="list"></tbody>
				</table>
				
				<!-- 페이징 -->
				<div class="paging"></div>
			</section>
		</div>
	</main>
	
	<!-- REVIEW_LIST : SCRIPT -->
	<th:block layout:fragment="script">
		<!-- SETTINGS -->
		<script th:inline="javascript">
			var role = [[ ${role} ]];
			var notice = [[ ${notice} ]];
			var list = [[ ${reviews.list} ]];
			var likes = [[ ${likes} ]];
			var pagination = [[ ${reviews.pagination} ]];
			var params = [[ ${params} ]];
		</script>
		<!-- BOARD -->
		<script type="text/javascript" src="/js/lib/moment.js"></script>
		<script type="text/javascript" src="/js/app/board/board.js"></script>
		<script type="text/javascript" src="/js/app/board/review/list.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
	</th:block>
	
</body>

</html>