<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>OYEZ, 리뷰</title>

<th:block layout:fragment="css">
	<!-- POPUP -->
	<link rel="stylesheet" th:href="@{/css/app/popup.css}" />
	<!-- BOARD -->
	<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/app/board/community/board.css}" />
	<link rel="stylesheet" th:href="@{/css/app/button.css}" />
</th:block>

</head>

<body>
	
	<!-- REVIEW_WRITE : CONTENT -->
	<main layout:fragment="content" class="container">
		<div class="page_tits">
			<span class="write-name-a">함께 할 때 더 즐거운 순간,</span><br>
			<span class="write-name-b">
				<b>[[ ${user} ]]</b><span class="write-name-c">님 다양한 사람과 의견을 공유하고 생각의 폭을 넓혀보세요.</span>
			</span>
		</div>
		
		<div class="content write-contents">
			<section>
				<form id="saveForm" method="post" autocomplete="off">
					<!-- 서버로 전달할 게시글 번호 (PK) -->
					<input type="hidden" id="id" name="id" th:if="${board != null}" th:value="${board.id}" />
					<!-- 서버로 전달할 공지글 여부 -->
					<input type="hidden" id="noticeYn" name="noticeYn" />
					<input type="hidden" id="filterId" name="filterId" />
					<input type="hidden" id="writer" name="writer" class="write-writer" maxlength="10" th:value="${user}" />
					<input type="hidden" id="IDate" name="IDate" class="write-date" />
					<div>
						<div class="write-notice">
							<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')">
								<span>공지글</span>
								<span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"></label></span>
							</div>
							<div sec:authorize="hasAnyRole('ROLE_USER')">
								<span class="chkbox" style="display: none;"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"></label></span>
							</div>
						</div>
						<div style="display: flex;">
							<span class="write-filter">필터</span>
							<select style="width: 100px; height: 22px; margin-left: .85rem; padding-left: 0; border: none;" id="filter">
								<option th:text="${board.filter}" th:value="${board.filterId}"></option>
								<option th:if="${board.filterId != filter.commDCd && board.filterId != 0}" th:each="filter : ${filter}" th:text="${filter.commDNm}" th:value="${filter.commDCd}"></option>
							</select>
						</div>
						<div>
							<span class="write-title">제목</span>
							<div class="write-title-input">
								<input id="title" name="title" maxlength="20" />
							</div>
						</div>
						<div>
							<span class="write-content">내용</span>
							<div class="wirte-title-input" style="display: flex; flex-direction: column; margin-bottom: 10px;">
								<textarea id="content" name="content" th:utext="${board.content}"></textarea>
							</div>
						</div>
						<div>
							<span class="write-hashtag">해시태그</span>
							<div class="write-hashtag-input">
								<!-- <input id="hashtags" maxlength="7" placeholder="해시태그는 수정이 불가합니다." disabled /> -->
								<div id="hashtag-output">
									<span class="hashtag tagify__tag" th:text="${board.hashtag}">
										<!-- <button class="close-button remove-button"></button> -->
									</span>
								</div>
								<input type="hidden" id="hashtag" name="hashtag" />
							</div>
						</div>
						<!-- 
						<div class="write-star">
							<span class="star-name">별점</span>
							<span class="star">
								★★★★★
								<span>★★★★★</span>
								<input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
							</span>
						</div>
						-->
						<!-- <div class="rating_star">
							<div class="rating">
								<span class="rating__result"></span>
								<i class="rating__star far fa-star"></i>
								<i class="rating__star far fa-star"></i>
								<i class="rating__star far fa-star"></i>
								<i class="rating__star far fa-star"></i>
								<i class="rating__star far fa-star"></i>
							</div>
						</div> -->
					</div>
				</form>
				
				<p class="btn_set">
					<button class="write-cancel-btn" onclick="cancelBoard();">취소</button>
					<button id="saveBtn" class="write-save-btn" onclick="saveBoard();">저장</button>
				</p>
			</section>
		</div>
	</main>
	
	<!-- REVIEW_WRITE : SCRIPT -->
	<th:block layout:fragment="script">
		<!-- SETTINGS -->
		<script th:inline="javascript">
			var userId = [[ ${userId} ]];
			var role = [[ ${role} ]];
			var board = [[ ${board} ]];
			var saveBoard_formAction = [[ ${board == null} ]] ? '/review/save' : '/[[ ${board.id} ]]/modify';
		</script>
		<!-- BOARD -->
		<script type="text/javascript" src="/js/lib/ckeditor.js"></script>
		<script type="text/javascript" src="/js/lib/config.js"></script>
		<script type="text/javascript" src="/js/lib/image.js"></script>
		<script type="text/javascript" src="/js/lib/ko.js"></script>
		<script type="text/javascript" src="/js/lib/moment.js"></script>
		<script type="text/javascript" src="/js/app/board/board.js"></script>
		<script type="text/javascript" src="/js/app/board/review/write.js"></script>
		<script type="text/javascript" src="/js/app/board/uploadAdapter.js"></script>
		<!-- LOADING -->
		<script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
		<script type="text/javascript" src="/js/app/loading.js"></script>
	</th:block>
	
</body>

</html>